workflows/0thsxgFrYUIygMkk.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Case": {
      "ai_tool": [
        [
          {
            "node": "Answer Question",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Answer Question",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Upd Case Response": {
      "ai_tool": [
        [
          {
            "node": "Answer Question",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Answer Question",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Case Summary Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Case Summary Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Case Summary Agent": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upd Case Summary": {
      "ai_tool": [
        [
          {
            "node": "Case Summary Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Get Case Information",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Get Case Information": {
      "ai_tool": [
        [
          {
            "node": "Case Summary Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Get Case Information",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Get Case Information-1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Get Case Information-1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Case Information-1": {
      "ai_tool": [
        [
          {
            "node": "Answer Question",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Case Summary Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Answer Question",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-24T03:36:43.086Z",
  "id": "0thsxgFrYUIygMkk",
  "isArchived": false,
  "meta": null,
  "name": "3.0 Case Law Study- Query Database",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -600,
        540
      ],
      "id": "7b7fd3c6-e1b0-48ec-82d6-dbd7a645863b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "app6dYc1bLxU04YPf",
          "mode": "list",
          "cachedResultName": "Case Law Study",
          "cachedResultUrl": "https://airtable.com/app6dYc1bLxU04YPf"
        },
        "table": {
          "__rl": true,
          "value": "tblR3IVoPUrihVwmn",
          "mode": "list",
          "cachedResultName": "Cases",
          "cachedResultUrl": "https://airtable.com/app6dYc1bLxU04YPf/tblR3IVoPUrihVwmn"
        },
        "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Record_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        100,
        220
      ],
      "id": "c9e4297a-5b07-4ffd-bc2f-bf3fb129ac74",
      "name": "Get Case"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.recordId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -40,
        220
      ],
      "id": "03d0b05b-d135-4a0a-a490-cddf087905c3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app6dYc1bLxU04YPf",
          "mode": "list",
          "cachedResultName": "Case Law Study",
          "cachedResultUrl": "https://airtable.com/app6dYc1bLxU04YPf"
        },
        "table": {
          "__rl": true,
          "value": "tblR3IVoPUrihVwmn",
          "mode": "list",
          "cachedResultName": "Cases",
          "cachedResultUrl": "https://airtable.com/app6dYc1bLxU04YPf/tblR3IVoPUrihVwmn"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Response": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Response', ``, 'string') }}",
            "recordId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('recordId__using_to_match_', ``, 'string') }}"
          },
          "matchingColumns": [
            "recordId"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "CID",
              "displayName": "CID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Case Name",
              "displayName": "Case Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Response",
              "displayName": "Response",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Case Records",
              "displayName": "Case Records",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Case Briefs",
              "displayName": "Case Briefs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Case Record FIDs",
              "displayName": "Case Record FIDs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Case Record Names",
              "displayName": "Case Record Names",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name (from Action)",
              "displayName": "Name (from Action)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Value (from Action)",
              "displayName": "Value (from Action)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Type (from Documents)",
              "displayName": "Type (from Documents)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "FID (from Documents)",
              "displayName": "FID (from Documents)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Case Briefs FIDs",
              "displayName": "Case Briefs FIDs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Case Briefs Names",
              "displayName": "Case Briefs Names",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Type (from Documents) 2",
              "displayName": "Type (from Documents) 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "FID (from Documents) 2",
              "displayName": "FID (from Documents) 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "VID",
              "displayName": "VID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "recordId",
              "displayName": "recordId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        220,
        220
      ],
      "id": "f7dc5ed0-55ee-4bf4-a543-8fa9aff51e49",
      "name": "Upd Case Response"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# **User Prompt for Query Database Agent**  \nrecordId: {{ $json.recordId }}\ntaskId: {{ $json.actionId }}\ntaskName: {{ $json.actionName }}",
        "options": {
          "systemMessage": "---\n\n### **Answer Question – System Prompt**  \n\n#### **Role & Purpose**  \nYou are an **Answer Question** agent responsible for retrieving answering user queries based upon case law information. Your primary function is to query the database, extract relevant case law data, and generate structured responses based on retrieved information.  \n\n#### **Scope of Work**  \nYou process **case law-related requests** by leveraging database tools to fetch and analyze case records. Your key responsibilities include:  \n- Managing input variables and ensuring proper data flow.  \n- Retrieving case law data from Airtable and Pinecone.  \n- Performing structured queries and analyzing relevant legal information.  \n- Generating well-formed, fact-based responses.  \n- Updating case records with generated responses when required.  \n\n#### **Input Variables (Provided by User)**  \n- `recordId`: Unique identifier of the Airtable Case record.  \n- `actionId`: Unique identifier of the requested action.  \n- `actionName`: Specific action to be performed.  \n\n#### **Derived Variables (Generated via Tools)** \n- `query`: User’s question or request.  \n- `response`: Generated response based on retrieved case law data.  \n- `namespace`: Relevant Pinecone database namespace for queries.  \n\n---\n\n### **Tasks & Execution**  \n\n#### **1. Answer Question**  \n**Objective:** Retrieve and analyze relevant data to answer user query.  \n\n**Steps:**  \n1. **Retrieve Case Record:**  \n   - Use the **Get Case** tool with `recordId`.  \n   - Extract the **Case Name** and store it in `namespace`.  \n   - Extract the **Question** and store it in `query`.  \n\n2. **Update Case Record:**  \n   - Use the **Upd Case Response** tool with:  \n     - `\"recordId\"` = `recordId`  \n     - `\"response\"` = `working...` \n   \n3. **Query the Knowledge Base:**  \n   - Use the **Get Case Information-1** tool with `query` and `namespace`.  \n   - Extract relevant information from the returned data.  \n   - If multiple matching results exist, consolidate them for completeness.  \n   - If no relevant data is found, explicitly indicate this in the response.  \n\n4. **Generate Response:**  \n   - Formulate a structured, fact-based response and store it in your `response` variable.\n\n5. **Update Case Record:**  \n   - Use the **Upd Case Response** tool with:  \n     - `\"recordId\"` = `recordId`  \n     - `\"response\"` = `response`  \n\n---\n\n### **Tools & Functions**  \n\n##### **1. Get Case**  \n- **Purpose:** Retrieves Case record from Airtable.  \n- **Input:** `recordId`.  \n\n##### **2. Get Case Information-1**  \n- **Purpose:** Queries Pinecone for relevant case law information.  \n- **Input:** `query`, `namespace`.  \n\n##### **3. Upd Case Response**  \n- **Purpose:** Updates Case record Response column in Airtable.  \n- **Input:** `recordId`, `response`. \n\n---\n\n### **Formatting & Constraints**  \n\n**Formatting Guidelines:**  \n- Ensure all responses follow **JSON structure**.  \n- Maintain a **professional, legal documentation tone**.  \n- Consolidate outputs for clarity where necessary.  \n\n**Constraints:**  \n- **Do not** generate responses beyond the retrieved case law data.  \n- **Do not** infer details—only use explicitly available information.  \n- **If no relevant case law is found, indicate this clearly.**  \n\n---"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        0,
        0
      ],
      "id": "93026cfa-b617-4789-84b2-a9c5fa8c21c6",
      "name": "Answer Question"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.actionId }}",
                    "rightValue": 14,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "882cd5f3-7c78-4d61-b0b5-24b99d233a0f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "389b52c8-250c-46c3-b28d-dd974c1f31f1",
                    "leftValue": "={{ $json.actionId }}",
                    "rightValue": 17,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -380,
        540
      ],
      "id": "42e607ee-ab33-47e3-baaa-d4e5709785b3",
      "name": "Switch"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "app6dYc1bLxU04YPf",
          "mode": "list",
          "cachedResultName": "Case Law Study",
          "cachedResultUrl": "https://airtable.com/app6dYc1bLxU04YPf"
        },
        "table": {
          "__rl": true,
          "value": "tblR3IVoPUrihVwmn",
          "mode": "list",
          "cachedResultName": "Cases",
          "cachedResultUrl": "https://airtable.com/app6dYc1bLxU04YPf/tblR3IVoPUrihVwmn"
        },
        "id": "={{ $json.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        180,
        800
      ],
      "id": "abbaf823-001c-4674-b316-b9877d6ea040",
      "name": "Airtable"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Case Records']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        720,
        800
      ],
      "id": "1474990b-4c38-493e-b7e4-0c0cac866ced",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app6dYc1bLxU04YPf",
          "mode": "list",
          "cachedResultName": "Case Law Study",
          "cachedResultUrl": "https://airtable.com/app6dYc1bLxU04YPf"
        },
        "table": {
          "__rl": true,
          "value": "tblDR8FUb7PQa5U8l",
          "mode": "list",
          "cachedResultName": "Documents",
          "cachedResultUrl": "https://airtable.com/app6dYc1bLxU04YPf/tblDR8FUb7PQa5U8l"
        },
        "filterByFormula": "={Document Name}=\"{{ $json.case }}\"\n",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1380,
        340
      ],
      "id": "cc712ea5-ac27-4b15-a62d-01a26527c6a0",
      "name": "Airtable1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        940,
        800
      ],
      "id": "bc0516ea-fda8-47e7-9444-1d41f3f22755",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "507a4878-59ec-4f2a-8674-0db382fe95e6",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        340
      ],
      "id": "9e318504-6cc8-47cb-9ae4-588bcc62f43f",
      "name": "If"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1940,
        560
      ],
      "id": "f8fb4eb8-aa61-4686-855f-bddcef87760e",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "options": {
          "stripNewLines": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2180,
        960
      ],
      "id": "c611b913-ebec-4faa-9f7b-982561fef7e0",
      "name": "Embeddings OpenAI1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# **User Prompt for Case Summary Agent**\nrecordId: {{ $('When Executed by Another Workflow').item.json.recordId }}\nactionId: {{ $('When Executed by Another Workflow').item.json.actionId }}\nactionName: {{ $('When Executed by Another Workflow').item.json.actionName }}\nrecordId_doc: {{ $json.id }}\nfilename: {{ $json.Document[0].filename }}\nnamespace: {{ $('Airtable').item.json['Case Name'] }}",
        "options": {
          "systemMessage": "---\n\n### **Case Summary Agent – System Prompt**  \n\n#### **Role & Purpose**  \nYou are a **Case Summary Agent** responsible for retrieving case law information, summarizing documents, and updating case records. Your primary function is to query the database, extract relevant case law data, and then generate a structured summary responses based on retrieved information.  \n\n#### **Scope of Work**  \nYou process case law-related documents by leveraging database tools to fetch and analyze case records. Your key responsibilities include:  \n- Managing input variables and ensuring proper data flow.  \n- Retrieving case law data from Pinecone.  \n- Performing structured queries and analyzing relevant data.  \n- Generating well-formed, fact-based responses.  \n- Updating case records with generated responses.  \n\n#### **Input Variables (Provided by User)**  \n- `recordId`: Unique identifier of the Airtable Case record.  \n- `actionId`: Unique identifier of the requested action.  \n- `actionName`: Specific action to be performed.  \n- `recordId_doc`: Unique identifier of the Airtable Document record. \n- `filename`: The filename in the Pinecone database that we're going to summarize. \n- `namespace`: Relevant Pinecone database namespace for queries.\n\n#### **Derived Variables (Generated via Tools)** \n- `query`: Your query against the Pinecone database.  \n- `response`: Generated response based on retrieved data.  \n\n---\n\n### **Tasks & Execution**  \n\n#### **1. Summarize Case Records**  \n**Objective:** Generate structured summary of case law documents from the Pinecone database.  \n\n**Steps:** \n1. **Assign Query Variable:**  \n   - Your query should be something along the lines of \"Gather all available information for this document: `filename`\" \n   \n2. **Retrieve Case Law Document:**  \n   - Use **Get Case Information** with your `query` and `namespace` values.  \n\n3. **Generate Summary:**  \n   - Summarize your retrieved `matches` and `text` information.  \n   - Use the following format for your summary:  \n\n---\n**Case Brief: [Extracted Case Name]**  \n\n**Case Identification:**  \n- Case Name: [Extracted Case Name]  \n- Citation: [Extracted Citation]  \n- Court: [Extracted Court Name]  \n- Date of Decision: [Extracted Date]  \n\n**Case Summary & Facts:**  \n- Brief Summary: [Concise Summary]  \n- Key Facts: [List of Key Facts]  \n- Parties Involved: [Plaintiff, Defendant, and their roles]  \n\n**Legal Issues & Arguments:**  \n- Legal Questions Addressed: [List of Legal Questions]  \n- Plaintiff’s Arguments: [Summary]  \n- Defendant’s Arguments: [Summary]  \n\n**Court’s Decision & Reasoning:**  \n- Holding: [Final Court Decision]  \n- Court’s Rationale: [Explanation of the Court’s Reasoning]  \n- Key Legal Precedents Cited: [List of Precedents]  \n\n**Impact & Precedent:**  \n- Implications of the Ruling: [Effects on Future Cases]  \n- Subsequent Citations: [Notable Cases Referencing This Ruling]  \n---\n\n4. **Store Case Summary:**  \n   - Store your summary in the `response` variable.  \n   - If a document lacks details, indicate missing information explicitly.  \n   - Use the **Upd Case Summary** tool with:  \n     - `\"recordId\"` = `recordId_doc`  \n     - `\"response\"` = `response`  \n\n---\n\n### **Tools & Functions**  \n\n##### **1. Get Case Information**  \n- **Purpose:** Queries Pinecone for relevant information.  \n- **Input:** `query`, `namespace`.  \n\n##### **2. Upd Case Summary**  \n- **Purpose:** Updates the Document summary column in Airtable.  \n- **Input:** `recordId`, `response`.  \n\n---\n\n### **Formatting & Constraints**  \n\n**Formatting Guidelines:**  \n- Ensure all responses follow **JSON structure**.  \n- Maintain a **professional, legal documentation tone**.  \n- Consolidate outputs for clarity where necessary.  \n\n**Constraints:**  \n- **Do not** generate responses beyond the retrieved case law data.  \n- **Do not** infer details—only use explicitly available information.  \n- **If no relevant case law is found, indicate this clearly.**  \n\n---"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1920,
        340
      ],
      "id": "ef984f71-da5d-47f6-bc12-23b778eb88f0",
      "name": "Case Summary Agent"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app6dYc1bLxU04YPf",
          "mode": "list",
          "cachedResultName": "Case Law Study",
          "cachedResultUrl": "https://airtable.com/app6dYc1bLxU04YPf"
        },
        "table": {
          "__rl": true,
          "value": "tblDR8FUb7PQa5U8l",
          "mode": "list",
          "cachedResultName": "Documents",
          "cachedResultUrl": "https://airtable.com/app6dYc1bLxU04YPf/tblDR8FUb7PQa5U8l"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "recordId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('recordId__using_to_match_', ``, 'string') }}",
            "Summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
          },
          "matchingColumns": [
            "recordId"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "FID",
              "displayName": "FID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Document Name",
              "displayName": "Document Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Document",
              "displayName": "Document",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name (from Type)",
              "displayName": "Name (from Type)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Cases",
              "displayName": "Cases",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Cases 2",
              "displayName": "Cases 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "recordId",
              "displayName": "recordId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        2060,
        560
      ],
      "id": "8e636569-cd98-4f48-94d7-b6c3777b81e4",
      "name": "Upd Case Summary"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2580,
        760
      ],
      "id": "32a8dc13-ef20-4ae3-8bf4-a3f74524a1ff",
      "name": "Wait",
      "webhookId": "d18bf36a-71e2-4b14-92f1-8fb1a1ccb5af"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"case\": \"{{ $json.filename.split('.').slice(0, -1).join('.') }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        340
      ],
      "id": "50e7fcbe-5b68-47c7-8602-b9179601ccc7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "kap-enterprises-llc",
          "mode": "list",
          "cachedResultName": "kap-enterprises-llc"
        },
        "options": {
          "pineconeNamespace": "={{ $('Airtable').item.json['Case Name'] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        2080,
        760
      ],
      "id": "92c52930-1968-4a93-a092-4a06c943ac8b",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "name": "get_case_information"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        2180,
        560
      ],
      "id": "646a4346-94c3-4aea-8ab0-db8a487ef7bd",
      "name": "Get Case Information"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2380,
        760
      ],
      "id": "b72fd195-7c3e-44d4-958c-5eda5093c35c",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "kap-enterprises-llc",
          "mode": "list",
          "cachedResultName": "kap-enterprises-llc"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        240,
        440
      ],
      "id": "3bac96bb-f1a4-4a15-abe7-0d0d863e729c",
      "name": "Pinecone Vector Store1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        620
      ],
      "id": "c0e16811-2c22-433f-830b-ae625a4e4ac7",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        520,
        420
      ],
      "id": "8f43f4d8-54e7-458c-8ec9-4bf4a197fb34",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "name": "get_case_information_1"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        340,
        240
      ],
      "id": "faa2002d-53c6-4869-82cd-13b20bb7f5c2",
      "name": "Get Case Information-1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1820,
        560
      ],
      "id": "5c0885d4-23c1-4f82-957e-9a59ba849008",
      "name": "Chat Model1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        220
      ],
      "id": "eaf5aae5-b9dd-4efb-94d8-ebf9e9e2b196",
      "name": "OpenAI Chat Model2"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "recordId": "recferEdJ4GCC1qFR",
          "actionId": 14,
          "actionName": "Answer Question"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-06-24T03:36:43.107Z",
      "createdAt": "2025-06-24T03:36:43.107Z",
      "role": "workflow:owner",
      "workflowId": "0thsxgFrYUIygMkk",
      "projectId": "ANrIPEPOHOX0fwPW"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-24T03:36:43.000Z",
  "versionId": "23ec188b-6ec9-4193-8a53-b54c852c5d15"
}