workflows/3arMkAJnTxlKrfDD.json
{
  "active": false,
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get many contacts in Google Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-12T00:39:22.419Z",
  "id": "3arMkAJnTxlKrfDD",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Google Contacts",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "f62e0bc4-e6ff-4c75-bdcb-e2cdbd7e59d2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "600597d5-0e40-4698-80d2-f0d8c0539b9c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "hsn72KnexVfvB6f5",
          "name": "OpenRouter API Key"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "2c656e27-2f06-4842-a481-4117d7413615",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "fields": "={{ $fromAI('Fields', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        368,
        208
      ],
      "id": "62c3ebeb-cab3-424e-9d0d-3610b49fb974",
      "name": "Get many contacts in Google Contacts",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "CfPfmph8RJKms1Hl",
          "name": "Google Contacts- OAuth pilgrimka1@gmail"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        0
      ],
      "id": "9d157375-332a-4f63-9b3e-4538020ef6e1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://people.googleapis.com/v1/people/me/connections?personFields=names,emailAddresses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleContactsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        432
      ],
      "id": "574ba88f-df69-48d1-94b9-d46a2ef7b6d0",
      "name": "HTTP Request",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "CfPfmph8RJKms1Hl",
          "name": "Google Contacts- OAuth pilgrimka1@gmail"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"prompt\": \"Get me Debbie Krill's information please.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        0
      ],
      "id": "6fa8fe9b-fb73-43b4-9cd9-3c6ada7d9832",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-12T00:39:22.427Z",
      "createdAt": "2025-08-12T00:39:22.427Z",
      "role": "workflow:owner",
      "workflowId": "3arMkAJnTxlKrfDD",
      "projectId": "ANrIPEPOHOX0fwPW"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-12T16:05:25.000Z",
  "versionId": "639a3816-fb8f-478c-af0e-b00d8220fc33"
}