workflows/BcgtqpDXVlaEFKTM.json
{
  "active": false,
  "connections": {
    "Get last run": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items": {
      "main": [
        [
          {
            "node": "Initialize Loop Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Found": {
      "main": [
        [
          {
            "node": "Add Record to Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Past Leads": {
      "main": [
        [
          {
            "node": "If Not Found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Record to Leads": {
      "main": [
        [
          {
            "node": "Add Record to Past Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Record to Past Leads": {
      "main": [
        [
          {
            "node": "Increment Loop Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Loop Counter": {
      "main": [
        [
          {
            "node": "Check Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Limit": {
      "main": [
        [
          {
            "node": "Limit Reached",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Loop Counter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Done Processing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Past Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-26T23:51:29.645Z",
  "id": "BcgtqpDXVlaEFKTM",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "1.0 Lead Enrichment- Example",
  "nodes": [
    {
      "parameters": {
        "operation": "Get last run",
        "userActorId": {
          "__rl": true,
          "value": "={{ $('Set Variables').first().json.apolloScrapingActorId }}",
          "mode": "id"
        }
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1632,
        256
      ],
      "id": "090ee9cb-582c-416e-8213-2284c4301ed5",
      "name": "Get last run",
      "credentials": {
        "apifyApi": {
          "id": "fuSToaFFwu6uWX9F",
          "name": "Apify API Key"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $('Get last run').item.json.defaultDatasetId }}",
        "limit": "=5"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1840,
        256
      ],
      "id": "cdc4fabc-f208-494d-bd03-e59d999f7e99",
      "name": "Get dataset items",
      "credentials": {
        "apifyApi": {
          "id": "fuSToaFFwu6uWX9F",
          "name": "Apify API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bec273a0-50de-49b3-8ed9-9d50ef18a3cb",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2656,
        368
      ],
      "id": "aac5a27c-893f-4bb3-93ca-a95ff257b597",
      "name": "If Not Found"
    },
    {
      "parameters": {
        "content": "## Get Leads from Apify",
        "height": 656,
        "width": 2400,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        0
      ],
      "typeVersion": 1,
      "id": "afca2ccd-3100-4c08-87ce-8d460a94bb58",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3712,
        448
      ],
      "id": "bee34187-b1ca-4d8f-a234-e377ff966ce5",
      "name": "Wait1",
      "webhookId": "ad1d73e0-78b8-4993-9f0a-02b5c7651be8"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app3QwKtIUqEfCg0k",
          "mode": "list",
          "cachedResultName": "Lead Enrichment",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k"
        },
        "table": {
          "__rl": true,
          "value": "tbl90I5wcIzoLilDs",
          "mode": "list",
          "cachedResultName": "Past Leads",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k/tbl90I5wcIzoLilDs"
        },
        "filterByFormula": "=AND(\n  LOWER({Name}) = LOWER('{{ $json.lead.name }}'),\n  LOWER({Company Name}) = LOWER('{{ $json.lead.employment_history[0].organization_name }}')\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2432,
        432
      ],
      "id": "5300c45b-271b-4b62-9c40-ba3b0691d4b7",
      "name": "Search Past Leads",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "KfRycBsXYTyRWuPv",
          "name": "Airtable Personal Access Token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app3QwKtIUqEfCg0k",
          "mode": "list",
          "cachedResultName": "Lead Enrichment",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k"
        },
        "table": {
          "__rl": true,
          "value": "tblhXG5i0Qi5hsK9X",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k/tblhXG5i0Qi5hsK9X"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Start Lead Enrichment": true,
            "Lead Status": "To Be Enriched",
            "Name": "={{ $('Loop Over Items').item.json.lead.name }}",
            "Email": "={{ $('Loop Over Items').item.json.lead.email }}",
            "Scrape Personal LinkedIn": true,
            "Scrape Company LinkedIn": true,
            "LeadId": "={{ $('Loop Over Items').item.json.lead.id }}",
            "LinkedIn URL": "={{ $('Loop Over Items').item.json.lead.linkedin_url }}",
            "Company LinkedIn URL": "={{ $('Loop Over Items').item.json.lead.organization.linkedin_url }}",
            "Headline": "={{ $('Loop Over Items').item.json.lead.headline }}",
            "Title": "={{ $('Loop Over Items').item.json.lead.title }}",
            "Company Name": "={{ $('Loop Over Items').item.json.lead.organization.name }}",
            "City": "={{ $('Loop Over Items').item.json.lead.city }}",
            "State": "={{ $('Loop Over Items').item.json.lead.state }}",
            "Country": "={{ $('Loop Over Items').item.json.lead.country }}",
            "Industry": "={{ $('Loop Over Items').item.json.lead.industry }}",
            "Phone": "={{ $('Loop Over Items').item.json.lead.organization_phone }}",
            "Headcount": "={{ $('Loop Over Items').item.json.lead.estimated_num_employees }}",
            "Scrape Home Page": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "LeadId",
              "displayName": "LeadId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Home Page",
              "displayName": "Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company LinkedIn URL",
              "displayName": "Company LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Enrichment Rating",
              "displayName": "Enrichment Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "To Be Enriched",
                  "value": "To Be Enriched"
                },
                {
                  "name": "Enriched",
                  "value": "Enriched"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Instantly-Ready",
                  "value": "Instantly-Ready"
                },
                {
                  "name": "Processed",
                  "value": "Processed"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                },
                {
                  "name": "Archived",
                  "value": "Archived"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clean Company Name",
              "displayName": "Clean Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start Lead Enrichment",
              "displayName": "Start Lead Enrichment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scrape Home Page",
              "displayName": "Scrape Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scrape Company LinkedIn",
              "displayName": "Scrape Company LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scrape Personal LinkedIn",
              "displayName": "Scrape Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Push To Email Service",
              "displayName": "Push To Email Service",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Write Personalization",
              "displayName": "Write Personalization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reason Disqualified",
              "displayName": "Reason Disqualified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped Home Page",
              "displayName": "Scraped Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page Eval",
              "displayName": "Home Page Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped LinkedIn Info",
              "displayName": "Scraped LinkedIn Info",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn Eval",
              "displayName": "LinkedIn Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped Personal LinkedIn",
              "displayName": "Scraped Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Personal LinkedIn Eval",
              "displayName": "Personal LinkedIn Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Headcount",
              "displayName": "Headcount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Icebreaker",
              "displayName": "Icebreaker",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page URLs",
              "displayName": "Home Page URLs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "RecordId",
              "displayName": "RecordId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Survey Link",
              "displayName": "Survey Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Link to Bulk Processing",
              "displayName": "Link to Bulk Processing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scraping Company LinkedIn",
              "displayName": "Scraping Company LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Scraping Personal LinkedIn",
              "displayName": "Scraping Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2880,
        304
      ],
      "id": "d7c5a99c-42d9-4262-9f96-c16f40ae82e2",
      "name": "Add Record to Leads",
      "credentials": {
        "airtableTokenApi": {
          "id": "KfRycBsXYTyRWuPv",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app3QwKtIUqEfCg0k",
          "mode": "list",
          "cachedResultName": "Lead Enrichment",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k"
        },
        "table": {
          "__rl": true,
          "value": "tbl90I5wcIzoLilDs",
          "mode": "list",
          "cachedResultName": "Past Leads",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k/tbl90I5wcIzoLilDs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Loop Over Items').item.json.lead.name }}",
            "Company Name": "={{ $('Loop Over Items').item.json.lead.organization.name }}",
            "Source": "Apify"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3088,
        304
      ],
      "id": "be92fe5a-693b-4ff1-867e-d7894a4992ec",
      "name": "Add Record to Past Leads",
      "credentials": {
        "airtableTokenApi": {
          "id": "KfRycBsXYTyRWuPv",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let item = items[0].json;\nitem.newLeadCount = (item.newLeadCount || 0) + 1;\nitem.reachedLimit = item.newLeadCount >= item.maxNewLeads;\nreturn [{ json: item }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        304
      ],
      "id": "8bcdd087-a4fa-4011-adfd-f1c8dacdae7a",
      "name": "Increment Loop Counter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c07ff59-3f26-481a-8815-1ac95a9b58dc",
              "leftValue": "={{ $json.reachedLimit }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3504,
        304
      ],
      "id": "abb68379-59bd-4b3c-841a-b4c87c63f137",
      "name": "Check Limit"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"errorMsg\": \"Limit reached!\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3712,
        288
      ],
      "id": "15591a0d-ac2a-4603-b681-e36a6bacb791",
      "name": "Limit Reached"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"errorMsg\": \"Done processing.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2432,
        160
      ],
      "id": "cfd0566e-f893-4228-a54f-eba2c6c68891",
      "name": "Done Processing"
    },
    {
      "parameters": {
        "jsCode": "return items.map(i => {\n  return {\n    json: {\n      lead: i.json,         // keep the Apify lead intact\n      newLeadCount: 0,      // shared counter state\n      maxNewLeads: $('Set Variables').first().json.maxNewLeads,\n      reachedLimit: false\n    }\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        256
      ],
      "id": "5a441046-7696-48a5-97bb-16913083f3bb",
      "name": "Initialize Loop Counter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2224,
        256
      ],
      "id": "80f035c6-ee59-4932-8a58-84eba0c0fb30",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {
    "Get last run": [
      {
        "json": {
          "id": "s86IbazkzbvxC9pjj",
          "actId": "jljBwyyQakqrL1wae",
          "userId": "tcmiin8LIaT2UeIiI",
          "startedAt": "2025-09-26T16:41:18.177Z",
          "finishedAt": "2025-09-26T17:12:41.906Z",
          "status": "SUCCEEDED",
          "statusMessage": "🚀 Success! Apollo Prospects",
          "isStatusMessageTerminal": true,
          "meta": {
            "origin": "API",
            "userAgent": "axios/1.8.3"
          },
          "stats": {
            "inputBodyLen": 775,
            "migrationCount": 0,
            "rebootCount": 0,
            "restartCount": 0,
            "durationMillis": 1883585,
            "resurrectCount": 0,
            "runTimeSecs": 1883.585,
            "metamorph": 0,
            "computeUnits": 0.2616090277777778,
            "memAvgBytes": 81513673.75796852,
            "memMaxBytes": 103534592,
            "memCurrentBytes": 0,
            "cpuAvgUsage": 7.979225115320214,
            "cpuMaxUsage": 114.41190243902439,
            "cpuCurrentUsage": 0,
            "netRxBytes": 98340004,
            "netTxBytes": 71900595
          },
          "options": {
            "build": "1.0.94",
            "timeoutSecs": 0,
            "memoryMbytes": 512,
            "maxItems": 10965,
            "diskMbytes": 2048
          },
          "buildId": "oYrdnCN3YAZhquzAG",
          "exitCode": 0,
          "defaultKeyValueStoreId": "ghRctgjgqY9qYf7sf",
          "defaultDatasetId": "Lv5RBeWq6Na3Wk587",
          "defaultRequestQueueId": "hA6V3PcvYaWNi2LJ9",
          "pricingInfo": {
            "pricePerUnitUsd": 0.0015,
            "unitName": "leads",
            "pricingModel": "PRICE_PER_DATASET_ITEM",
            "isPriceChangeNotificationSuppressed": false,
            "reasonForChange": "The price adjustment is due to the recent increase in Apollo’s plan costs.",
            "startedAt": "2025-09-11T00:00:00.000Z",
            "createdAt": "2025-08-28T20:09:04.847Z",
            "apifyMarginPercentage": 0.2,
            "notifiedAboutFutureChangeAt": "2025-08-28T20:12:25.274Z"
          },
          "platformUsageBillingModel": "DEVELOPER",
          "integrationTracking": {
            "platform": "n8n",
            "appId": null
          },
          "generalAccess": "FOLLOW_USER_SETTING",
          "buildNumber": "1.0.94",
          "containerUrl": "https://ucuxdr4bgcyo.runs.apify.net",
          "consoleUrl": "https://console.apify.com/view/runs/s86IbazkzbvxC9pjj"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "2adNeWCiahz5EMcw"
  },
  "shared": [
    {
      "createdAt": "2025-09-26T23:51:29.653Z",
      "updatedAt": "2025-09-26T23:51:29.653Z",
      "role": "workflow:owner",
      "workflowId": "BcgtqpDXVlaEFKTM",
      "projectId": "ANrIPEPOHOX0fwPW"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-28T08:09:29.000Z",
  "versionId": "bb4b13db-0e57-46d2-a0b9-3506f4d423de"
}