workflows/dLafIdRGy1VRSBrK.json
{
  "active": true,
  "connections": {
    "Pull Lead From Airtable,": {
      "main": [
        [
          {
            "node": "Update Airtable - Clear Checkboxes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "US: Yes or No?": {
      "main": [
        [
          {
            "node": "Check Headcount1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Updated Notes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Pull Lead From Airtable,",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Headcount": {
      "main": [
        [
          {
            "node": "Verify Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Updated Notes4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updated Notes1": {
      "main": [
        [
          {
            "node": "Update Airtable - Not US",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updated Notes4": {
      "main": [
        [
          {
            "node": "Update Airtable - Headcount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updated Notes6": {
      "main": [
        [
          {
            "node": "Update Airtable - Headcount1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updated Notes7": {
      "main": [
        [
          {
            "node": "Update Airtable - Qualified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Email": {
      "main": [
        [
          {
            "node": "Verify Enrichment Score",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Updated Notes6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updated Notes": {
      "main": [
        [
          {
            "node": "Update Airtable - Headcount2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Enrichment Score": {
      "main": [
        [
          {
            "node": "Updated Notes7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Updated Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Airtable - Clear Checkboxes": {
      "main": [
        [
          {
            "node": "US: Yes or No?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Headcount1": {
      "main": [
        [
          {
            "node": "Check Headcount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-15T23:35:03.054Z",
  "id": "dLafIdRGy1VRSBrK",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "3.0 Lead Enrichment- Qualify Leads",
  "nodes": [
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "app3QwKtIUqEfCg0k",
          "mode": "list",
          "cachedResultName": "Lead Enrichment",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k"
        },
        "table": {
          "__rl": true,
          "value": "tblhXG5i0Qi5hsK9X",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k/tblhXG5i0Qi5hsK9X"
        },
        "id": "={{ $('Webhook').item.json.body.recordId }}",
        "options": {}
      },
      "id": "799decb5-d005-4f6c-a89a-74b38954cdbc",
      "name": "Pull Lead From Airtable,",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        576,
        448
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "KfRycBsXYTyRWuPv",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7540d0aa-8723-4dd0-9c11-f9ad60a4fa38",
              "leftValue": "={{ $json.fields.Country.toLowerCase() }}",
              "rightValue": "united states",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "91b72db0-9786-413b-81a5-d1e7138fad0a",
              "leftValue": "={{ $json.fields.Country.toLowerCase() }}",
              "rightValue": "us",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "e84d9f96-d8a8-4ee2-8f22-ac06b8514081",
      "name": "US: Yes or No?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        448
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app3QwKtIUqEfCg0k",
          "mode": "list",
          "cachedResultName": "Lead Enrichment",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k"
        },
        "table": {
          "__rl": true,
          "value": "tblhXG5i0Qi5hsK9X",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k/tblhXG5i0Qi5hsK9X"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Webhook').item.json.body.recordId }}",
            "Lead Status": "Not Qualified",
            "Notes": "={{ $json.Notes }}",
            "Reason Disqualified": "Country is not US",
            "Start Qualification": false
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "LeadId",
              "displayName": "LeadId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page",
              "displayName": "Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company LinkedIn URL",
              "displayName": "Company LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Enrichment Rating",
              "displayName": "Enrichment Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "To Be Enriched",
                  "value": "To Be Enriched"
                },
                {
                  "name": "Enriched",
                  "value": "Enriched"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Instantly-Ready",
                  "value": "Instantly-Ready"
                },
                {
                  "name": "Processed",
                  "value": "Processed"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                },
                {
                  "name": "Archived",
                  "value": "Archived"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Clean Company Name",
              "displayName": "Clean Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start Lead Enrichment",
              "displayName": "Start Lead Enrichment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Home Page",
              "displayName": "Scrape Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Company LinkedIn",
              "displayName": "Scrape Company LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Personal LinkedIn",
              "displayName": "Scrape Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Push To Email Service",
              "displayName": "Push To Email Service",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Write Personalization",
              "displayName": "Write Personalization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reason Disqualified",
              "displayName": "Reason Disqualified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scraped Home Page",
              "displayName": "Scraped Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page Eval",
              "displayName": "Home Page Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped LinkedIn Info",
              "displayName": "Scraped LinkedIn Info",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn Eval",
              "displayName": "LinkedIn Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped Personal LinkedIn",
              "displayName": "Scraped Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Personal LinkedIn Eval",
              "displayName": "Personal LinkedIn Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Headcount",
              "displayName": "Headcount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Icebreaker",
              "displayName": "Icebreaker",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page URLs",
              "displayName": "Home Page URLs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "RecordId",
              "displayName": "RecordId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Survey Link",
              "displayName": "Survey Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Link to Bulk Processing",
              "displayName": "Link to Bulk Processing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraping Company LinkedIn",
              "displayName": "Scraping Company LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Scraping Personal LinkedIn",
              "displayName": "Scraping Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Start Qualification",
              "displayName": "Start Qualification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7fc6b446-115f-40ab-a818-c7bd865bb319",
      "name": "Update Airtable - Not US",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1584,
        544
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "KfRycBsXYTyRWuPv",
          "name": "Airtable Personal Access Token"
        }
      },
      "notes": "{{ $json.query.recordId }}"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9bf164bf-39fa-49fd-b2be-251a1eac6c76",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        128,
        448
      ],
      "id": "cf679e02-797f-4166-b500-7b17367e103d",
      "name": "Webhook",
      "webhookId": "9bf164bf-39fa-49fd-b2be-251a1eac6c76",
      "credentials": {
        "httpHeaderAuth": {
          "id": "al5te3NB5NMzlxb5",
          "name": "Lead Enrichment Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const variables = {\n  \"headcountLowerBound\" : 1, // Head count lower bound\n  \"headcountUpperBound\" : 50, // Head count upper bound\n  \"minEnrichmentScore\" : 30 // Enrichment score lower bound\n}\n\nreturn [{json : variables}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        448
      ],
      "id": "2ff0d8b1-969c-4f98-b7a9-ced90a6cfc72",
      "name": "Set Variables"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "7540d0aa-8723-4dd0-9c11-f9ad60a4fa38",
              "leftValue": "={{ $json.message.content.status }}",
              "rightValue": "=PASS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "id": "70e0cc70-7a9a-40aa-a727-97e28e941da7",
      "name": "Check Headcount",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1584,
        352
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app3QwKtIUqEfCg0k",
          "mode": "list",
          "cachedResultName": "Lead Enrichment",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k"
        },
        "table": {
          "__rl": true,
          "value": "tblhXG5i0Qi5hsK9X",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k/tblhXG5i0Qi5hsK9X"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Webhook').item.json.body.recordId }}",
            "Reason Disqualified": "=Failed headcount",
            "Lead Status": "Not Qualified",
            "Notes": "={{ $json.Notes }}",
            "Start Qualification": false
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "LeadId",
              "displayName": "LeadId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page",
              "displayName": "Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company LinkedIn URL",
              "displayName": "Company LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Enrichment Rating",
              "displayName": "Enrichment Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "To Be Enriched",
                  "value": "To Be Enriched"
                },
                {
                  "name": "Enriched",
                  "value": "Enriched"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Instantly-Ready",
                  "value": "Instantly-Ready"
                },
                {
                  "name": "Processed",
                  "value": "Processed"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                },
                {
                  "name": "Archived",
                  "value": "Archived"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Clean Company Name",
              "displayName": "Clean Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start Lead Enrichment",
              "displayName": "Start Lead Enrichment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Home Page",
              "displayName": "Scrape Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Company LinkedIn",
              "displayName": "Scrape Company LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Personal LinkedIn",
              "displayName": "Scrape Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Push To Email Service",
              "displayName": "Push To Email Service",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Write Personalization",
              "displayName": "Write Personalization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reason Disqualified",
              "displayName": "Reason Disqualified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scraped Home Page",
              "displayName": "Scraped Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page Eval",
              "displayName": "Home Page Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped LinkedIn Info",
              "displayName": "Scraped LinkedIn Info",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn Eval",
              "displayName": "LinkedIn Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped Personal LinkedIn",
              "displayName": "Scraped Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Personal LinkedIn Eval",
              "displayName": "Personal LinkedIn Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Headcount",
              "displayName": "Headcount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Icebreaker",
              "displayName": "Icebreaker",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page URLs",
              "displayName": "Home Page URLs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "RecordId",
              "displayName": "RecordId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Survey Link",
              "displayName": "Survey Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Link to Bulk Processing",
              "displayName": "Link to Bulk Processing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraping Company LinkedIn",
              "displayName": "Scraping Company LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Scraping Personal LinkedIn",
              "displayName": "Scraping Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Start Qualification",
              "displayName": "Start Qualification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2032,
        640
      ],
      "id": "2544ab4b-2e6c-4e11-bc3e-02e6c8dc5ef0",
      "name": "Update Airtable - Headcount",
      "credentials": {
        "airtableTokenApi": {
          "id": "KfRycBsXYTyRWuPv",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app3QwKtIUqEfCg0k",
          "mode": "list",
          "cachedResultName": "Lead Enrichment",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k"
        },
        "table": {
          "__rl": true,
          "value": "tblhXG5i0Qi5hsK9X",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k/tblhXG5i0Qi5hsK9X"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Webhook').item.json.body.recordId }}",
            "Notes": "={{ $json.Notes }}",
            "Lead Status": "Qualified",
            "Start Qualification": false,
            "Write Personalization": true
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "LeadId",
              "displayName": "LeadId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page",
              "displayName": "Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company LinkedIn URL",
              "displayName": "Company LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Enrichment Rating",
              "displayName": "Enrichment Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "To Be Enriched",
                  "value": "To Be Enriched"
                },
                {
                  "name": "Enriched",
                  "value": "Enriched"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Instantly-Ready",
                  "value": "Instantly-Ready"
                },
                {
                  "name": "Processed",
                  "value": "Processed"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                },
                {
                  "name": "Archived",
                  "value": "Archived"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Clean Company Name",
              "displayName": "Clean Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start Lead Enrichment",
              "displayName": "Start Lead Enrichment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Home Page",
              "displayName": "Scrape Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Company LinkedIn",
              "displayName": "Scrape Company LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Personal LinkedIn",
              "displayName": "Scrape Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Push To Email Service",
              "displayName": "Push To Email Service",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Write Personalization",
              "displayName": "Write Personalization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reason Disqualified",
              "displayName": "Reason Disqualified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped Home Page",
              "displayName": "Scraped Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page Eval",
              "displayName": "Home Page Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped LinkedIn Info",
              "displayName": "Scraped LinkedIn Info",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn Eval",
              "displayName": "LinkedIn Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped Personal LinkedIn",
              "displayName": "Scraped Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Personal LinkedIn Eval",
              "displayName": "Personal LinkedIn Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Headcount",
              "displayName": "Headcount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Icebreaker",
              "displayName": "Icebreaker",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page URLs",
              "displayName": "Home Page URLs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "RecordId",
              "displayName": "RecordId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Survey Link",
              "displayName": "Survey Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Link to Bulk Processing",
              "displayName": "Link to Bulk Processing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraping Company LinkedIn",
              "displayName": "Scraping Company LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Scraping Personal LinkedIn",
              "displayName": "Scraping Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Start Qualification",
              "displayName": "Start Qualification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2480,
        64
      ],
      "id": "b42e4138-77d2-40c6-9fb6-20bcc3567237",
      "name": "Update Airtable - Qualified",
      "credentials": {
        "airtableTokenApi": {
          "id": "KfRycBsXYTyRWuPv",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "content": "# Qualify Leads\n",
        "height": 816,
        "width": 2752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "2e5517f8-472d-4de0-96a4-f3a9ea0f6991",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// Get old notes from a previous node\nconst oldNotes = $('Pull Lead From Airtable,').first().json.Notes;\n\n// Define your new note manually\nlet newNotes = \"Country is not US.\";\n\n// Format datetime as MM.DD.YYYY HH:mm\nconst now = new Date();\nconst timestamp =\n  String(now.getMonth() + 1).padStart(2, '0') + \".\" +\n  String(now.getDate()).padStart(2, '0') + \".\" +\n  now.getFullYear() + \" \" +\n  String(now.getHours()).padStart(2, '0') + \":\" +\n  String(now.getMinutes()).padStart(2, '0');\n\n// Prepend timestamp to the new note\nnewNotes = `${timestamp}- ${newNotes}`;\n\n// If old notes exist, append with a carriage return\nconst updatedNotes = oldNotes ? `${oldNotes}\\n${newNotes}` : newNotes;\n\n//  Return as an object under \"Notes\"\nreturn [\n  {\n    json: {\n      Notes: updatedNotes\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        544
      ],
      "id": "13efea1e-ca10-48e3-b8c2-da4fa7e6e5de",
      "name": "Updated Notes1"
    },
    {
      "parameters": {
        "jsCode": "// Get old notes from a previous node\nconst oldNotes = $('Pull Lead From Airtable,').first().json.Notes;\n\n// Define your new note manually\nlet newNotes = \"Failed headcount requirements.\";\n\n// Format datetime as MM.DD.YYYY HH:mm\nconst now = new Date();\nconst timestamp =\n  String(now.getMonth() + 1).padStart(2, '0') + \".\" +\n  String(now.getDate()).padStart(2, '0') + \".\" +\n  now.getFullYear() + \" \" +\n  String(now.getHours()).padStart(2, '0') + \":\" +\n  String(now.getMinutes()).padStart(2, '0');\n\n// Prepend timestamp to the new note\nnewNotes = `${timestamp}- ${newNotes}`;\n\n// If old notes exist, append with a carriage return\nconst updatedNotes = oldNotes ? `${oldNotes}\\n${newNotes}` : newNotes;\n\n//  Return as an object under \"Notes\"\nreturn [\n  {\n    json: {\n      Notes: updatedNotes\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        640
      ],
      "id": "b371a89e-a3e8-4339-b5d0-f5facd74132c",
      "name": "Updated Notes4"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app3QwKtIUqEfCg0k",
          "mode": "list",
          "cachedResultName": "Lead Enrichment",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k"
        },
        "table": {
          "__rl": true,
          "value": "tblhXG5i0Qi5hsK9X",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k/tblhXG5i0Qi5hsK9X"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Webhook').item.json.body.recordId }}",
            "Reason Disqualified": "=Missing email",
            "Lead Status": "Not Qualified",
            "Notes": "={{ $json.Notes }}",
            "Start Qualification": false
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "LeadId",
              "displayName": "LeadId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page",
              "displayName": "Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company LinkedIn URL",
              "displayName": "Company LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Enrichment Rating",
              "displayName": "Enrichment Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "To Be Enriched",
                  "value": "To Be Enriched"
                },
                {
                  "name": "Enriched",
                  "value": "Enriched"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Instantly-Ready",
                  "value": "Instantly-Ready"
                },
                {
                  "name": "Processed",
                  "value": "Processed"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                },
                {
                  "name": "Archived",
                  "value": "Archived"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Clean Company Name",
              "displayName": "Clean Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start Lead Enrichment",
              "displayName": "Start Lead Enrichment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Home Page",
              "displayName": "Scrape Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Company LinkedIn",
              "displayName": "Scrape Company LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Personal LinkedIn",
              "displayName": "Scrape Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Push To Email Service",
              "displayName": "Push To Email Service",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Write Personalization",
              "displayName": "Write Personalization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reason Disqualified",
              "displayName": "Reason Disqualified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scraped Home Page",
              "displayName": "Scraped Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page Eval",
              "displayName": "Home Page Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped LinkedIn Info",
              "displayName": "Scraped LinkedIn Info",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn Eval",
              "displayName": "LinkedIn Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped Personal LinkedIn",
              "displayName": "Scraped Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Personal LinkedIn Eval",
              "displayName": "Personal LinkedIn Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Headcount",
              "displayName": "Headcount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Icebreaker",
              "displayName": "Icebreaker",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page URLs",
              "displayName": "Home Page URLs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "RecordId",
              "displayName": "RecordId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Survey Link",
              "displayName": "Survey Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Link to Bulk Processing",
              "displayName": "Link to Bulk Processing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraping Company LinkedIn",
              "displayName": "Scraping Company LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Scraping Personal LinkedIn",
              "displayName": "Scraping Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Start Qualification",
              "displayName": "Start Qualification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2256,
        448
      ],
      "id": "d139950c-7eb2-48dd-a353-3968413ee94d",
      "name": "Update Airtable - Headcount1",
      "credentials": {
        "airtableTokenApi": {
          "id": "KfRycBsXYTyRWuPv",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get old notes from a previous node\nconst oldNotes = $('Pull Lead From Airtable,').first().json.Notes;\n\n// Define your new note manually\nlet newNotes = \"Missing email.\";\n\n// Format datetime as MM.DD.YYYY HH:mm\nconst now = new Date();\nconst timestamp =\n  String(now.getMonth() + 1).padStart(2, '0') + \".\" +\n  String(now.getDate()).padStart(2, '0') + \".\" +\n  now.getFullYear() + \" \" +\n  String(now.getHours()).padStart(2, '0') + \":\" +\n  String(now.getMinutes()).padStart(2, '0');\n\n// Prepend timestamp to the new note\nnewNotes = `${timestamp}- ${newNotes}`;\n\n// If old notes exist, append with a carriage return\nconst updatedNotes = oldNotes ? `${oldNotes}\\n${newNotes}` : newNotes;\n\n//  Return as an object under \"Notes\"\nreturn [\n  {\n    json: {\n      Notes: updatedNotes\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        448
      ],
      "id": "d2497c31-efd0-4916-9d58-488f0e13caf4",
      "name": "Updated Notes6"
    },
    {
      "parameters": {
        "jsCode": "// Get old notes from a previous node\nconst oldNotes = $('Pull Lead From Airtable,').first().json.Notes;\n\n// Define your new note manually\nlet newNotes = \"Passed qualification checks.\";\n\n// Format datetime as MM.DD.YYYY HH:mm\nconst now = new Date();\nconst timestamp =\n  String(now.getMonth() + 1).padStart(2, '0') + \".\" +\n  String(now.getDate()).padStart(2, '0') + \".\" +\n  now.getFullYear() + \" \" +\n  String(now.getHours()).padStart(2, '0') + \":\" +\n  String(now.getMinutes()).padStart(2, '0');\n\n// Prepend timestamp to the new note\nnewNotes = `${timestamp}- ${newNotes}`;\n\n// If old notes exist, append with a carriage return\nconst updatedNotes = oldNotes ? `${oldNotes}\\n${newNotes}` : newNotes;\n\n//  Return as an object under \"Notes\"\nreturn [\n  {\n    json: {\n      Notes: updatedNotes\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        64
      ],
      "id": "1a3ee2df-603c-46c2-9012-6653e9d126b5",
      "name": "Updated Notes7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "582f0ba4-7060-46a7-88f6-d02b7431be22",
              "leftValue": "={{ $('Pull Lead From Airtable,').item.json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1808,
        256
      ],
      "id": "6b99916a-0b81-45bd-9333-ea5eca5150dd",
      "name": "Verify Email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d1b99b90-42a4-4c46-96de-b009cfa63d2b",
              "leftValue": "={{ $('Pull Lead From Airtable,').item.json['Enrichment Rating'] }}",
              "rightValue": "={{ $('Set Variables').item.json.minEnrichmentScore }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2032,
        160
      ],
      "id": "920de2ee-4ae8-4899-a014-638f82c19a22",
      "name": "Verify Enrichment Score"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app3QwKtIUqEfCg0k",
          "mode": "list",
          "cachedResultName": "Lead Enrichment",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k"
        },
        "table": {
          "__rl": true,
          "value": "tblhXG5i0Qi5hsK9X",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k/tblhXG5i0Qi5hsK9X"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Webhook').item.json.body.recordId }}",
            "Reason Disqualified": "=Failed minimum enrichment score",
            "Lead Status": "Not Qualified",
            "Notes": "={{ $json.Notes }}",
            "Start Qualification": false
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "LeadId",
              "displayName": "LeadId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page",
              "displayName": "Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company LinkedIn URL",
              "displayName": "Company LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Enrichment Rating",
              "displayName": "Enrichment Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "To Be Enriched",
                  "value": "To Be Enriched"
                },
                {
                  "name": "Enriched",
                  "value": "Enriched"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Instantly-Ready",
                  "value": "Instantly-Ready"
                },
                {
                  "name": "Processed",
                  "value": "Processed"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                },
                {
                  "name": "Archived",
                  "value": "Archived"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Clean Company Name",
              "displayName": "Clean Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start Lead Enrichment",
              "displayName": "Start Lead Enrichment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Home Page",
              "displayName": "Scrape Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Company LinkedIn",
              "displayName": "Scrape Company LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Personal LinkedIn",
              "displayName": "Scrape Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Push To Email Service",
              "displayName": "Push To Email Service",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Write Personalization",
              "displayName": "Write Personalization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reason Disqualified",
              "displayName": "Reason Disqualified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scraped Home Page",
              "displayName": "Scraped Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page Eval",
              "displayName": "Home Page Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped LinkedIn Info",
              "displayName": "Scraped LinkedIn Info",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn Eval",
              "displayName": "LinkedIn Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped Personal LinkedIn",
              "displayName": "Scraped Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Personal LinkedIn Eval",
              "displayName": "Personal LinkedIn Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Headcount",
              "displayName": "Headcount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Icebreaker",
              "displayName": "Icebreaker",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page URLs",
              "displayName": "Home Page URLs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "RecordId",
              "displayName": "RecordId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Survey Link",
              "displayName": "Survey Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Link to Bulk Processing",
              "displayName": "Link to Bulk Processing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraping Company LinkedIn",
              "displayName": "Scraping Company LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Scraping Personal LinkedIn",
              "displayName": "Scraping Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Start Qualification",
              "displayName": "Start Qualification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2480,
        256
      ],
      "id": "5425c354-90bc-49f5-b3d2-a1f8b51bf1cb",
      "name": "Update Airtable - Headcount2",
      "credentials": {
        "airtableTokenApi": {
          "id": "KfRycBsXYTyRWuPv",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get old notes from a previous node\nconst oldNotes = $('Pull Lead From Airtable,').first().json.Notes;\n\n// Define your new note manually\nlet newNotes = \"Failed minimum enrichment score.\";\n\n// Format datetime as MM.DD.YYYY HH:mm\nconst now = new Date();\nconst timestamp =\n  String(now.getMonth() + 1).padStart(2, '0') + \".\" +\n  String(now.getDate()).padStart(2, '0') + \".\" +\n  now.getFullYear() + \" \" +\n  String(now.getHours()).padStart(2, '0') + \":\" +\n  String(now.getMinutes()).padStart(2, '0');\n\n// Prepend timestamp to the new note\nnewNotes = `${timestamp}- ${newNotes}`;\n\n// If old notes exist, append with a carriage return\nconst updatedNotes = oldNotes ? `${oldNotes}\\n${newNotes}` : newNotes;\n\n//  Return as an object under \"Notes\"\nreturn [\n  {\n    json: {\n      Notes: updatedNotes\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        256
      ],
      "id": "d07e957d-e8d6-46ab-ba59-5b6306f6aeb7",
      "name": "Updated Notes"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app3QwKtIUqEfCg0k",
          "mode": "list",
          "cachedResultName": "Lead Enrichment",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k"
        },
        "table": {
          "__rl": true,
          "value": "tblhXG5i0Qi5hsK9X",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k/tblhXG5i0Qi5hsK9X"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Start Lead Enrichment": false,
            "Scrape Company LinkedIn": false,
            "Scrape Personal LinkedIn": false,
            "id": "={{ $('Webhook').item.json.body.recordId }}",
            "Scrape Home Page": false
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "LeadId",
              "displayName": "LeadId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Clean Company Name",
              "displayName": "Clean Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page",
              "displayName": "Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company LinkedIn URL",
              "displayName": "Company LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Enrichment Rating",
              "displayName": "Enrichment Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "To Be Enriched",
                  "value": "To Be Enriched"
                },
                {
                  "name": "Enriched",
                  "value": "Enriched"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Instantly-Ready",
                  "value": "Instantly-Ready"
                },
                {
                  "name": "Processed",
                  "value": "Processed"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                },
                {
                  "name": "Archived",
                  "value": "Archived"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start Lead Enrichment",
              "displayName": "Start Lead Enrichment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scrape Home Page",
              "displayName": "Scrape Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scrape Company LinkedIn",
              "displayName": "Scrape Company LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scrape Personal LinkedIn",
              "displayName": "Scrape Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Push To Email Service",
              "displayName": "Push To Email Service",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Write Personalization",
              "displayName": "Write Personalization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reason Disqualified",
              "displayName": "Reason Disqualified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped Home Page",
              "displayName": "Scraped Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page Eval",
              "displayName": "Home Page Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped LinkedIn Info",
              "displayName": "Scraped LinkedIn Info",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn Eval",
              "displayName": "LinkedIn Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped Personal LinkedIn",
              "displayName": "Scraped Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Personal LinkedIn Eval",
              "displayName": "Personal LinkedIn Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Headcount",
              "displayName": "Headcount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Icebreaker",
              "displayName": "Icebreaker",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page URLs",
              "displayName": "Home Page URLs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "RecordId",
              "displayName": "RecordId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        784,
        448
      ],
      "id": "161176a3-3e96-4072-98f2-384e54bce2b9",
      "name": "Update Airtable - Clear Checkboxes",
      "credentials": {
        "airtableTokenApi": {
          "id": "KfRycBsXYTyRWuPv",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "### **Head Count Prompt**\n\nYou are evaluating a companys headcount against given requirements.\n\nI will provide:\n* The companys headcount information (may be an exact number or a range).\n* A **lower bound** (minimum required headcount).\n* An **upper bound** (maximum allowed headcount).\n\nYour task:\n* Determine if the companys headcount meets these requirements (greater than or equal to the lower bound, and less than or equal to the upper bound).\n* If the headcount falls within the specified range, return **PASS**.\n* If it does not, return **FAIL**.\n\n### **Final JSON Output Structure:**\n```json\n{\n  \"status\": \"PASS/FAIL\"\n}\n```\n",
              "role": "system"
            },
            {
              "content": "=company head count information: {{ $json.fields.Headcount }}\nlower bound: {{ $('Set Variables').item.json.headcountLowerBound }}\nupper bound: {{ $('Set Variables').item.json.headcountUpperBound }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1232,
        352
      ],
      "id": "bbeb96e1-b0b3-4810-a623-8fe68bdf8165",
      "name": "Check Headcount1",
      "credentials": {
        "openAiApi": {
          "id": "q3gPWSga9sOawaqA",
          "name": "OpenAi API Key- KAP Enterprises"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.kap-enterprises-llc.com",
            "user-agent": "Mozilla/5.0 (compatible; AirtableScripting; +https://airtable.com/developers/scripting;)",
            "content-length": "71",
            "accept": "*/*",
            "accept-encoding": "gzip,deflate",
            "authorization": "QmVhcmVyIG1heWZsb3dlcg==",
            "content-type": "application/json",
            "via": "1.1 Caddy",
            "x-airtable-source": "app3QwKtIUqEfCg0k/wflb6jNgqGSFFNhUB",
            "x-forwarded-for": "98.82.125.100",
            "x-forwarded-host": "n8n.kap-enterprises-llc.com",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "recordId": "recNjosTdkoO0nCk4",
            "actionId": 5,
            "responseWebhookUrl": null
          },
          "webhookUrl": "https://n8n.kap-enterprises-llc.com/webhook/9bf164bf-39fa-49fd-b2be-251a1eac6c76",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "2adNeWCiahz5EMcw"
  },
  "shared": [
    {
      "createdAt": "2025-09-15T23:35:03.063Z",
      "updatedAt": "2025-09-15T23:35:03.063Z",
      "role": "workflow:owner",
      "workflowId": "dLafIdRGy1VRSBrK",
      "projectId": "ANrIPEPOHOX0fwPW"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-15T18:11:16.000Z",
  "versionId": "44ff0d2d-1c1b-4d9a-86da-5c2088c77c3b"
}