workflows/E83DP9n3UTsyfWig.json
{
  "active": false,
  "connections": {
    "aggregate": {
      "main": [
        [
          {
            "node": "set_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "workflow_trigger": {
      "main": [
        [
          {
            "node": "map_website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "map_website": {
      "main": [
        [
          {
            "node": "split_urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split_urls": {
      "main": [
        [
          {
            "node": "scrape_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scrape_url": {
      "main": [
        [
          {
            "node": "aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-23T21:56:48.517Z",
  "id": "E83DP9n3UTsyfWig",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "2.0 Web Developer Agent - Scrape Website",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "website_url"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "967f775e-7abd-459c-92c4-6a1c7385439b",
      "name": "workflow_trigger"
    },
    {
      "parameters": {
        "operation": "map",
        "url": "={{ $json.website_url }}",
        "limit": 100,
        "timeout": 30000,
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "852d413c-7faa-487e-aca9-dac315d6affd",
      "name": "map_website",
      "retryOnFail": true,
      "credentials": {
        "firecrawlApi": {
          "id": "u7B52biZgufFOMI7",
          "name": "Firecrawl Header Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "={{ $json.url }}",
        "scrapeOptions": {
          "options": {
            "formats": {
              "format": [
                {}
              ]
            },
            "headers": {}
          }
        },
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "753d1c63-8d87-4bc2-9539-3c31c265c962",
      "name": "scrape_url",
      "retryOnFail": true,
      "credentials": {
        "firecrawlApi": {
          "id": "u7B52biZgufFOMI7",
          "name": "Firecrawl Header Auth"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "14e94f84-d6b1-4f1c-8e81-6d9a30e3ad20",
      "name": "split_urls"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data.markdown",
              "renameField": true,
              "outputFieldName": "markdown"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "id": "e8a308c0-5491-4683-ac62-6bdb934d5831",
      "name": "aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0977e7a9-8c0c-4f8d-9749-fda01e8f1b1a",
              "name": "scraped_website_result",
              "value": "={{ $json.markdown.map(item => item).join(\"\\n-----\\n\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        0
      ],
      "id": "d8ca8fdb-4993-4492-b08e-4e9be9520280",
      "name": "set_result"
    }
  ],
  "pinData": {
    "workflow_trigger": [
      {
        "json": {
          "website_url": "https://epikmillandcabinet.com/"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-23T21:56:48.522Z",
      "createdAt": "2025-10-23T21:56:48.522Z",
      "role": "workflow:owner",
      "workflowId": "E83DP9n3UTsyfWig",
      "projectId": "ANrIPEPOHOX0fwPW"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-23T23:12:49.000Z",
  "versionId": "5f4aab73-21da-42c3-845f-cfeb68dccefa"
}