workflows/j0kb7ladOhPMVkxz.json
{
  "active": true,
  "connections": {
    "Write Personalized Line,1": {
      "main": [
        [
          {
            "node": "Updated Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Routing Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Data": {
      "main": [
        [
          {
            "node": "Write Personalized Line,1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Airtable Lead": {
      "main": [
        [
          {
            "node": "Company Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updated Notes": {
      "main": [
        [
          {
            "node": "Update Airtable Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Routing Variables": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Airtable Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Airtable Lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Airtable Lead1": {
      "main": [
        [
          {
            "node": "Instantly Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instantly Payload": {
      "main": [
        [
          {
            "node": "Update Lead to Instantly.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead to Instantly.1": {
      "main": [
        [
          {
            "node": "Check Status Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status Code": {
      "main": [
        [
          {
            "node": "Updated Notes1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Updated Notes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updated Notes1": {
      "main": [
        [
          {
            "node": "Update Airtable Record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updated Notes2": {
      "main": [
        [
          {
            "node": "Update Airtable Record2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-15T23:35:35.177Z",
  "id": "j0kb7ladOhPMVkxz",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "4.0 Lead Enrichment- Email Personalization",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert in personalized B2B cold email writing. \nYou will be given enriched company information from LinkedIn, the company’s homepage, and manually added enrichment fields.  \n\nYour task:\n1. Extract structured variables that can be reused in cold outreach.  \n2. Write a personalized cold email icebreaker using those insights.  \n\n---\n\n### Extraction & Personalization Guidelines:\n- Make it sound **human, natural, and conversational**.  \n- Keep variables **concise** (max word counts noted below).  \n- Infer missing details logically from context instead of returning “not listed”.  \n- Ensure the final icebreaker is **specific, tailored, and relevant** to the company.\n\n---\n\n### Variables to Extract:\n\n1. **CompanyOverview**  \n- Short, compelling description of company’s core expertise.  \n- **Max 3 words.**  \n- Must fit: *We help [CompanyOverview] SaaS teams…*  \n\n2. **ICPofLead**  \n- Ideal customer profile (audience they sell to).  \n- **Max 4 words.**  \n- Must fit: *meetings with [ICPofLead] dealing with [PainPointLeadSolves]*  \n\n3. **PainPointLeadSolves**  \n- Core business pain they solve.  \n- **Max 5 words.**  \n- Must fit: *dealing with [PainPointLeadSolves]*  \n\n4. **PrimaryServices**  \n- Main service offering.  \n- **Max 4 words.**  \n- Must fit: *For another [PrimaryServices] SaaS…*  \n\n5. **Industry**  \n- Exact industry phrased naturally.  \n- Must fit: *With [Industry] becoming more competitive…*  \n\n6. **Summary**  \n- Give me a detailed company summary based upon the company data provided. This should be detailed in informative.\n\n---\n\n### Icebreaker Guidelines:\n- 2–3 sentences max.  \n- Start friendly and relevant: reference their **mission, services, industry, or differentiation**.  \n- Must feel like a human read their profile and homepage.  \n- No fluff, keep it **specific and personalized**.  \n- Do NOT use any salutations in the icebreaker as that will be taken care of in the email template.\n\n---\n\n### Final Output Format (JSON only):\n```json\n{\n  \"CompanyOverview\": \"...\",\n  \"ICPofLead\": \"...\",\n  \"PainPointLeadSolves\": \"...\",\n  \"PrimaryServices\": \"...\",\n  \"Industry\": \"...\",\n  \"Icebreaker\": \"...\",\n  \"Summary\": \"...\"\n}\n",
              "role": "system"
            },
            {
              "content": "=Company Data: {{ $('Company Data').item.json.toJsonString() }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "8d4faa70-03a5-4860-82e0-b534f0818011",
      "name": "Write Personalized Line,1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        432,
        336
      ],
      "credentials": {
        "openAiApi": {
          "id": "q3gPWSga9sOawaqA",
          "name": "OpenAi API Key- KAP Enterprises"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6e9b4c05-c6c1-46da-9aea-ef8d1724e1de",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -688,
        528
      ],
      "id": "0f717181-1f06-430a-b250-eb5a7182a537",
      "name": "Webhook",
      "webhookId": "6e9b4c05-c6c1-46da-9aea-ef8d1724e1de",
      "credentials": {
        "httpHeaderAuth": {
          "id": "al5te3NB5NMzlxb5",
          "name": "Lead Enrichment Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const companyData = {\n  \"prospectName\" : $input.first().json.Name,\n  \"companyName\" : $input.first().json['Clean Company Name'],\n  \"industry\": $input.first().json['Industry'],\n  \"scrapedHomePageInfo\": $input.first().json['Scraped Home Page'],\n  \"scrapedLinkedInInfo\": $input.first().json['Scraped LinkedIn Info'],\n  \"personalLinkedInEval\": $input.first().json['Personal LinkedIn Eval']\n}\n\n\nreturn [{json : companyData}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        336
      ],
      "id": "7d971606-5a1a-4320-9667-a4da02e23dfe",
      "name": "Company Data"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "app3QwKtIUqEfCg0k",
          "mode": "list",
          "cachedResultName": "Lead Enrichment",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k"
        },
        "table": {
          "__rl": true,
          "value": "tblhXG5i0Qi5hsK9X",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k/tblhXG5i0Qi5hsK9X"
        },
        "id": "={{ $('Webhook').item.json.body.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -16,
        336
      ],
      "id": "681dd255-2837-4bd2-ae4e-047af786b6a7",
      "name": "Get Airtable Lead",
      "credentials": {
        "airtableTokenApi": {
          "id": "KfRycBsXYTyRWuPv",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get old notes from a previous node\nconst oldNotes = $('Get Airtable Lead').first().json.Notes;\n\n// Define your new note manually\nlet newNotes = \"Personalization completed.\";\n\n// Format datetime as MM.DD.YYYY HH:mm\nconst now = new Date();\nconst timestamp =\n  String(now.getMonth() + 1).padStart(2, '0') + \".\" +\n  String(now.getDate()).padStart(2, '0') + \".\" +\n  now.getFullYear() + \" \" +\n  String(now.getHours()).padStart(2, '0') + \":\" +\n  String(now.getMinutes()).padStart(2, '0');\n\n// Prepend timestamp to the new note\nnewNotes = `${timestamp}- ${newNotes}`;\n\n// If old notes exist, append with a carriage return\nconst updatedNotes = oldNotes ? `${oldNotes}\\n${newNotes}` : newNotes;\n\n// ✅ Return as an object under \"Notes\"\nreturn [\n  {\n    json: {\n      Notes: updatedNotes\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        336
      ],
      "id": "ef6dd29a-8392-4c5a-8e6b-23ba01427ae6",
      "name": "Updated Notes"
    },
    {
      "parameters": {
        "content": "# Email Personalization Router",
        "height": 608,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        256
      ],
      "typeVersion": 1,
      "id": "72fc34ce-fe6a-45a7-b759-396878ba1fba",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"WRITE_PERSONALIZATION\": \"9\",\n  \"SEND_TO_INSTANTLY\": \"10\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        528
      ],
      "id": "5f72c80e-8aa6-4ce3-921e-d010e3d6ab24",
      "name": "Set Routing Variables"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.actionId }}",
                    "rightValue": "={{ $json.WRITE_PERSONALIZATION }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "66f4568b-e2fe-4bf5-84c8-42e079bb0611"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Write Personalization"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d2a7fded-e747-473f-a99e-d739a80086fe",
                    "leftValue": "={{ $('Webhook').item.json.body.actionId }}",
                    "rightValue": "={{ $json.SEND_TO_INSTANTLY }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Send To Instantly"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -240,
        528
      ],
      "id": "e6128d38-a520-40b4-9d47-97d01d9518ab",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v2/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accepts",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.toJsonString() }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "ead8a8b4-ca2b-44df-9b39-8141c57d8065",
      "name": "Update Lead to Instantly.1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        624
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hNguPuesGiNKToup",
          "name": "Instantly.ai Header Auth"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "app3QwKtIUqEfCg0k",
          "mode": "list",
          "cachedResultName": "Lead Enrichment",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k"
        },
        "table": {
          "__rl": true,
          "value": "tblhXG5i0Qi5hsK9X",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k/tblhXG5i0Qi5hsK9X"
        },
        "id": "={{ $('Webhook').item.json.body.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -16,
        624
      ],
      "id": "b8b4f646-fd50-4d91-91c8-f3a662383d67",
      "name": "Get Airtable Lead1",
      "credentials": {
        "airtableTokenApi": {
          "id": "KfRycBsXYTyRWuPv",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const campaignId = $('Webhook').first().json.body.vars.INSTANTLY_CAMPAIGN_ID;\nconst email = $('Get Airtable Lead1').first().json.Email;\nconst phone = $('Get Airtable Lead1').first().json.Phone;\nconst personalization = $('Get Airtable Lead1').first().json.Icebreaker;\nconst website = $('Get Airtable Lead1').first().json['Home Page'];\nconst industry = $('Get Airtable Lead1').first().json['Industry'];\nconst mediaLink = $('Webhook').first().json.body.vars.KAP_AUTOMATIONS_LINK;\nconst mediaLink2 = $('Webhook').first().json.body.vars.YOUTUBE_MEDIA_LINK_1;\nconst typeformBaseUrl = $('Webhook').first().json.body.vars.TYPEFORM_SURVEY_LINK;\nconst calendarLink = $('Webhook').first().json.body.vars.CALENDAR_LINK;\nconst rawVerify = $('Webhook').first().json.body.vars.VERIFY_LEADS_ON_IMPORT;\nconst verifyLeadsOnImport = ['true', '1', 'yes'].includes(String(rawVerify).toLowerCase());\nconst source = 'Instantly.ai';\n\n\nlet companyName = $('Get Airtable Lead1').first().json['Company Name'];\nlet cleanCompanyName = $('Get Airtable Lead1').first().json['Clean Company Name'];\n\nconst fullName = $('Get Airtable Lead1').item.json.Name || \"\";\nlet firstName = \"\";\nlet lastName = \"\";\n\n// Manage name\nconst nameParts = fullName.trim().split(\" \");\nif (nameParts.length > 0) {\n  firstName = nameParts[0];\n}\nif (nameParts.length > 1) {\n  lastName = nameParts.slice(1).join(\" \"); // handles multi-word last names\n}\n\nif (cleanCompanyName && cleanCompanyName.trim() !== '') {\n  companyName = cleanCompanyName;\n}\n\nconst mediaLink3 = `${typeformBaseUrl}#first_name=${encodeURIComponent(firstName)}&last_name=${encodeURIComponent(lastName)}&email=${encodeURIComponent(email)}&phone_number=${encodeURIComponent(phone)}&company_name=${encodeURIComponent(companyName)}&utm_sourcee=${encodeURIComponent(source)}`;\n\n// === Payload ===\nconst payload = {\n  \"campaign\": campaignId,\n  \"email\": email,\n  \"personalization\": personalization,\n  \"last_name\": lastName,\n  \"first_name\": firstName,\n  \"company_name\": companyName,\n  \"website\": website,\n  \"phone\": phone,\n  \"skip_if_in_list\": true,\n  \"skip_if_in_campaign\": true,\n  \"verify_leads_on_import\": verifyLeadsOnImport,\n  \"custom_variables\": {\n    \"industry\": industry,\n    \"mediaLink\": mediaLink,\n    \"mediaLink2\": mediaLink2,\n    \"mediaLink3\": mediaLink3,\n    \"calendarLink\": calendarLink,\n  }\n}\n\nreturn [{ json: payload }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        624
      ],
      "id": "bf5b5096-2da6-40c8-a2dc-4de70772d3f2",
      "name": "Instantly Payload"
    },
    {
      "parameters": {
        "content": "# Create Personalization and Send to Instantly.ai",
        "height": 608,
        "width": 1552,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        256
      ],
      "typeVersion": 1,
      "id": "33476fc9-f067-485f-96fd-4be5fdcc210c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "36251416-783a-4845-b62a-4982ee7fd1a3",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        624
      ],
      "id": "be4559a5-5367-4f7b-85c5-003ada1fcb55",
      "name": "Check Status Code"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app3QwKtIUqEfCg0k",
          "mode": "list",
          "cachedResultName": "Lead Enrichment",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k"
        },
        "table": {
          "__rl": true,
          "value": "tblhXG5i0Qi5hsK9X",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k/tblhXG5i0Qi5hsK9X"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Webhook').item.json.body.recordId }}",
            "Icebreaker": "={{ $('Write Personalized Line,1').item.json.message.content.Icebreaker }}",
            "Summary": "={{ $('Write Personalized Line,1').item.json.message.content.toJsonString() }}",
            "Notes": "={{ $json.Notes }}",
            "Lead Status": "Instantly-Ready",
            "Write Personalization": false,
            "Push To Email Service": true
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "LeadId",
              "displayName": "LeadId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page",
              "displayName": "Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company LinkedIn URL",
              "displayName": "Company LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Enrichment Rating",
              "displayName": "Enrichment Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "To Be Enriched",
                  "value": "To Be Enriched"
                },
                {
                  "name": "Enriched",
                  "value": "Enriched"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Instantly-Ready",
                  "value": "Instantly-Ready"
                },
                {
                  "name": "Processed",
                  "value": "Processed"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                },
                {
                  "name": "Archived",
                  "value": "Archived"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Clean Company Name",
              "displayName": "Clean Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start Lead Enrichment",
              "displayName": "Start Lead Enrichment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Home Page",
              "displayName": "Scrape Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Company LinkedIn",
              "displayName": "Scrape Company LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Personal LinkedIn",
              "displayName": "Scrape Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Push To Email Service",
              "displayName": "Push To Email Service",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Write Personalization",
              "displayName": "Write Personalization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reason Disqualified",
              "displayName": "Reason Disqualified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped Home Page",
              "displayName": "Scraped Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page Eval",
              "displayName": "Home Page Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped LinkedIn Info",
              "displayName": "Scraped LinkedIn Info",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn Eval",
              "displayName": "LinkedIn Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped Personal LinkedIn",
              "displayName": "Scraped Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Personal LinkedIn Eval",
              "displayName": "Personal LinkedIn Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Headcount",
              "displayName": "Headcount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Icebreaker",
              "displayName": "Icebreaker",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Home Page URLs",
              "displayName": "Home Page URLs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "RecordId",
              "displayName": "RecordId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Survey Link",
              "displayName": "Survey Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1008,
        336
      ],
      "id": "f2c248b9-62c2-4a5a-baec-2fc915f49ef5",
      "name": "Update Airtable Record",
      "credentials": {
        "airtableTokenApi": {
          "id": "KfRycBsXYTyRWuPv",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app3QwKtIUqEfCg0k",
          "mode": "list",
          "cachedResultName": "Lead Enrichment",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k"
        },
        "table": {
          "__rl": true,
          "value": "tblhXG5i0Qi5hsK9X",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k/tblhXG5i0Qi5hsK9X"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Webhook').first().json.body.recordId }}",
            "Lead Status": "Processed",
            "Notes": "={{ $json.Notes }}",
            "Push To Email Service": false,
            "Survey Link": "={{ $('Instantly Payload').first().json.custom_variables.mediaLink3 }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "LeadId",
              "displayName": "LeadId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page",
              "displayName": "Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company LinkedIn URL",
              "displayName": "Company LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Enrichment Rating",
              "displayName": "Enrichment Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "To Be Enriched",
                  "value": "To Be Enriched"
                },
                {
                  "name": "Enriched",
                  "value": "Enriched"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Instantly-Ready",
                  "value": "Instantly-Ready"
                },
                {
                  "name": "Processed",
                  "value": "Processed"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                },
                {
                  "name": "Archived",
                  "value": "Archived"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Clean Company Name",
              "displayName": "Clean Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start Lead Enrichment",
              "displayName": "Start Lead Enrichment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Home Page",
              "displayName": "Scrape Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Company LinkedIn",
              "displayName": "Scrape Company LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Personal LinkedIn",
              "displayName": "Scrape Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Push To Email Service",
              "displayName": "Push To Email Service",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Write Personalization",
              "displayName": "Write Personalization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reason Disqualified",
              "displayName": "Reason Disqualified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped Home Page",
              "displayName": "Scraped Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page Eval",
              "displayName": "Home Page Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped LinkedIn Info",
              "displayName": "Scraped LinkedIn Info",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn Eval",
              "displayName": "LinkedIn Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped Personal LinkedIn",
              "displayName": "Scraped Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Personal LinkedIn Eval",
              "displayName": "Personal LinkedIn Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Headcount",
              "displayName": "Headcount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Icebreaker",
              "displayName": "Icebreaker",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page URLs",
              "displayName": "Home Page URLs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "RecordId",
              "displayName": "RecordId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Survey Link",
              "displayName": "Survey Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1232,
        528
      ],
      "id": "f2373e24-3690-45fa-86e3-8cf080f9a390",
      "name": "Update Airtable Record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "KfRycBsXYTyRWuPv",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app3QwKtIUqEfCg0k",
          "mode": "list",
          "cachedResultName": "Lead Enrichment",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k"
        },
        "table": {
          "__rl": true,
          "value": "tblhXG5i0Qi5hsK9X",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app3QwKtIUqEfCg0k/tblhXG5i0Qi5hsK9X"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Webhook').item.json.body.recordId }}",
            "Notes": "={{ $json.Notes }}",
            "Survey Link": "={{ $('Instantly Payload').first().json.custom_variables.mediaLink3 }}",
            "Push To Email Service": false
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "LeadId",
              "displayName": "LeadId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page",
              "displayName": "Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company LinkedIn URL",
              "displayName": "Company LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Enrichment Rating",
              "displayName": "Enrichment Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "To Be Enriched",
                  "value": "To Be Enriched"
                },
                {
                  "name": "Enriched",
                  "value": "Enriched"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Instantly-Ready",
                  "value": "Instantly-Ready"
                },
                {
                  "name": "Processed",
                  "value": "Processed"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                },
                {
                  "name": "Archived",
                  "value": "Archived"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Clean Company Name",
              "displayName": "Clean Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start Lead Enrichment",
              "displayName": "Start Lead Enrichment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Home Page",
              "displayName": "Scrape Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Company LinkedIn",
              "displayName": "Scrape Company LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape Personal LinkedIn",
              "displayName": "Scrape Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Push To Email Service",
              "displayName": "Push To Email Service",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Write Personalization",
              "displayName": "Write Personalization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reason Disqualified",
              "displayName": "Reason Disqualified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped Home Page",
              "displayName": "Scraped Home Page",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page Eval",
              "displayName": "Home Page Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped LinkedIn Info",
              "displayName": "Scraped LinkedIn Info",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn Eval",
              "displayName": "LinkedIn Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scraped Personal LinkedIn",
              "displayName": "Scraped Personal LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Personal LinkedIn Eval",
              "displayName": "Personal LinkedIn Eval",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Headcount",
              "displayName": "Headcount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Icebreaker",
              "displayName": "Icebreaker",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Home Page URLs",
              "displayName": "Home Page URLs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "RecordId",
              "displayName": "RecordId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Survey Link",
              "displayName": "Survey Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1232,
        720
      ],
      "id": "be76738e-af76-4f6c-827a-e76a1185028d",
      "name": "Update Airtable Record2",
      "credentials": {
        "airtableTokenApi": {
          "id": "KfRycBsXYTyRWuPv",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get old notes from a previous node\nconst oldNotes = $('Get Airtable Lead1').first().json.Notes;\n\n// Define your new note manually\nlet newNotes = \"Lead successfully added to Instantly.\";\n\n// Format datetime as MM.DD.YYYY HH:mm\nconst now = new Date();\nconst timestamp =\n  String(now.getMonth() + 1).padStart(2, '0') + \".\" +\n  String(now.getDate()).padStart(2, '0') + \".\" +\n  now.getFullYear() + \" \" +\n  String(now.getHours()).padStart(2, '0') + \":\" +\n  String(now.getMinutes()).padStart(2, '0');\n\n// Prepend timestamp to the new note\nnewNotes = `${timestamp}- ${newNotes}`;\n\n// If old notes exist, append with a carriage return\nconst updatedNotes = oldNotes ? `${oldNotes}\\n${newNotes}` : newNotes;\n\n// ✅ Return as an object under \"Notes\"\nreturn [\n  {\n    json: {\n      Notes: updatedNotes\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        528
      ],
      "id": "9fb69958-dce8-440c-bccb-01c41a0f73e1",
      "name": "Updated Notes1"
    },
    {
      "parameters": {
        "jsCode": "// Get old notes from a previous node\nconst oldNotes = $('Get Airtable Lead1').first().json.Notes;\n\n// Define your new note manually\nlet newNotes = \"Lead failed upload to Instantly: ErrMsg: \" + $input.first().json.statusMessage;\n\n// Format datetime as MM.DD.YYYY HH:mm\nconst now = new Date();\nconst timestamp =\n  String(now.getMonth() + 1).padStart(2, '0') + \".\" +\n  String(now.getDate()).padStart(2, '0') + \".\" +\n  now.getFullYear() + \" \" +\n  String(now.getHours()).padStart(2, '0') + \":\" +\n  String(now.getMinutes()).padStart(2, '0');\n\n// Prepend timestamp to the new note\nnewNotes = `${timestamp}- ${newNotes}`;\n\n// If old notes exist, append with a carriage return\nconst updatedNotes = oldNotes ? `${oldNotes}\\n${newNotes}` : newNotes;\n\n// ✅ Return as an object under \"Notes\"\nreturn [\n  {\n    json: {\n      Notes: updatedNotes\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        720
      ],
      "id": "b4beca0f-64fb-4ed1-8570-97e45d54b5ac",
      "name": "Updated Notes2"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "2adNeWCiahz5EMcw"
  },
  "shared": [
    {
      "updatedAt": "2025-09-15T23:35:35.183Z",
      "createdAt": "2025-09-15T23:35:35.183Z",
      "role": "workflow:owner",
      "workflowId": "j0kb7ladOhPMVkxz",
      "projectId": "ANrIPEPOHOX0fwPW"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-15T18:43:50.000Z",
  "versionId": "99eca107-1183-47a7-9b72-7b30540088f4"
}