workflows/Q6rFALHHgXcHbyyu.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Main Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Main Router",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Manage Db": {
      "ai_tool": [
        [
          {
            "node": "Main Router",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Main Router",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Query Database": {
      "ai_tool": [
        [
          {
            "node": "Main Router",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-24T03:35:19.696Z",
  "id": "Q6rFALHHgXcHbyyu",
  "isArchived": false,
  "meta": null,
  "name": "1.0 Case Law Study- Master Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bc80ddd8-90ec-42b2-bfa4-2b1c89691c9b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "379f627f-5c44-43ad-95c3-71a4531171e1",
      "name": "Webhook",
      "webhookId": "bc80ddd8-90ec-42b2-bfa4-2b1c89691c9b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# **User Prompt for Case Law Study Agent**\nrecordId: {{ $json.body.recordId }}\nactionId: {{ $json.body.actionId }}\nactionName: {{ $json.body.actionName }}\npineconeHost: {{ $json.body.vars.PINECONE_HOST }}\npineconeApiKey: {{ $json.body.vars.PINECONE_API_KEY }}\n",
        "options": {
          "systemMessage": "=---\n\n# **User Prompt for Case Law Study Agent**\nrecordId: {{ $json.body.recordId }}\nactionId: {{ $json.body.actionId }}\nactionName: {{ $json.body.actionName }}\npineconeHost: {{ $json.body.vars.PINECONE_HOST }}\npineconeApiKey: {{ $json.body.vars.PINECONE_API_KEY }}\n\n---\n\n### **System Prompt for Main Router Agent**  \n\n#### **Role**  \nYou are a **Master Router Agent** responsible for orchestrating workflows by delegating tasks to specialized tool agents. Your primary function is to manage case law operations efficiently by directing tasks, ensuring proper sequencing, and processing user requests. You do not perform tasks directly; instead, you assign them to appropriate sub-agents.  \n\n#### **Scope**  \nYou handle structured case law requests and route them to specialized agents based on the requested action. You manage several key variables supplied by the user. Your responsibilities include:  \n- Receiving **case law-related requests** from users.  \n- Managing input variables and ensuring they are correctly passed to sub-agents.  \n- Calling sub-agents in the proper sequence to complete requested actions.  \n- Consolidating and returning structured responses when necessary.  \n\n**Input Variables (Supplied by the User):**  \n- `recordId`: The unique identifier of the Airtable record being processed.  \n- `actionId`: The unique identifier for the requested action.  \n- `actionName`: The specific action to be performed.  \n- `pineconeHost`: The Pinecone host value.  \n- `pineconeApiKey`: The Pinecone API key value.  \n\n#### **Tasks**  \nYou will handle the following tasks by delegating them to appropriate sub-agents:  \n\n##### **1. Delete Db Records**  \n- Use the **Manage Db** tool with:  \n  - `\"recordId\"` = `recordId`  \n  - `\"actionId\"` = `actionId`  \n  - `\"actionName\"` = `actionName`  \n  - `\"pineconeHost\"` = `pineconeHost`  \n  - `\"pineconeApiKey\"` = `pineconeApiKey`  \n\n##### **2. Load Db Records**  \n- Use the **Manage Db** tool with:  \n  - `\"recordId\"` = `recordId`  \n  - `\"actionId\"` = `actionId`  \n  - `\"actionName\"` = `actionName`  \n\n##### **3. Answer Question**  \n- Use the **Query Database** tool with:  \n  - `\"recordId\"` = `recordId`  \n  - `\"actionId\"` = `actionId`  \n  - `\"actionName\"` = `actionName`  \n\n#### **Tools & Their Functions**  \n\n##### **1. Manage Db**  \n  - **Purpose**: Uploads or deletes case law records in the Pinecone database.  \n  - **Required Fields**: `recordId`, `actionId`, `actionName`, `pineconeHost`, `pineconeApiKey`.\n\n##### **2. Query Database**  \n  - **Purpose**: Retrieves relevant case records and answers user queries using stored case law data.  \n  - **Required Fields**: `recordId`, `actionId`, `actionName`.  \n\n#### **Format**  \n  - Ensure all inputs and outputs are structured as **JSON**.  \n  - Consolidate outputs when required to maintain clarity.  \n  - Maintain a **formal and professional** tone appropriate for legal documentation.  \n\n#### **Constraints**  \n  - **Do not** attempt to perform tasks directly. Always delegate them to sub-agents.  \n  - **Do not** generate responses outside the available case law data. All information must be derived from Pinecone records.  \n  - **Do not** modify or create new variables beyond those explicitly defined.  \n\n---"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        320,
        0
      ],
      "id": "36194503-795d-4dc7-a4a2-9c92a8e7288d",
      "name": "Main Router"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.recordId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        340,
        220
      ],
      "id": "cbf3d34c-03b5-4865-8f6b-b813a5875885",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "name": "manage_db",
        "workflowId": {
          "__rl": true,
          "value": "ct3oHvz55U0ngu9X",
          "mode": "list",
          "cachedResultName": "2.0 Case Law Study- Manage Database"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "recordId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('recordId', ``, 'string') }}",
            "actionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionId', ``, 'number') }}",
            "actionName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionName', ``, 'string') }}",
            "pineconeHost": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('pineconeHost', ``, 'string') }}",
            "pineconeApiKey": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('pineconeApiKey', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "recordId",
              "displayName": "recordId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "actionId",
              "displayName": "actionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "actionName",
              "displayName": "actionName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "pineconeHost",
              "displayName": "pineconeHost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "pineconeApiKey",
              "displayName": "pineconeApiKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "openAiEmbeddingsUrl",
              "displayName": "openAiEmbeddingsUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "openAiApiKey",
              "displayName": "openAiApiKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        460,
        220
      ],
      "id": "0906539b-f92d-457c-91ea-8aefcd655a46",
      "name": "Manage Db"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        220
      ],
      "id": "b391c887-d994-4fe6-b93f-ab82c899fb4d",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "name": "get_knowsledge",
        "workflowId": {
          "__rl": true,
          "value": "fSHNGR7hyBRVbBr2",
          "mode": "list",
          "cachedResultName": "3.0 Case Law Study- Get Knowledge"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "actionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionId', ``, 'number') }}",
            "recordId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('recordId', ``, 'string') }}",
            "actionName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionName', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "recordId",
              "displayName": "recordId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "actionId",
              "displayName": "actionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "actionName",
              "displayName": "actionName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        580,
        220
      ],
      "id": "6c2dde2e-59d4-4499-b96f-64facee478b0",
      "name": "Query Database"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-06-24T03:35:19.704Z",
      "createdAt": "2025-06-24T03:35:19.704Z",
      "role": "workflow:owner",
      "workflowId": "Q6rFALHHgXcHbyyu",
      "projectId": "ANrIPEPOHOX0fwPW"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-24T03:35:19.000Z",
  "versionId": "f8ae324a-6a3e-483d-84c5-4b9cecc5daff"
}