workflows/SSqV7RWYHnXvwOoS.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Contact Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Contact Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Contact": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-12T15:49:23.761Z",
  "id": "SSqV7RWYHnXvwOoS",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Google Contacts",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -880,
        368
      ],
      "id": "f8c13051-92d7-497c-9f0a-07b17ca1aa51",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "q3gPWSga9sOawaqA",
          "name": "OpenAi API Key- KAP Enterprises"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a contact management assistant. Your responsibilities include looking up contacts, adding new contacts, or updating a contact's information.\n\n**Available Tools**  \n   - Use \"Get Contacts\" to retrieve contact information.\n   - Use \"Add Contact\" to store new contact information. \n   - Use \"Update Contact\" to modify existing entries.\n  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -528,
        80
      ],
      "id": "0bb5598e-7fd1-4d5e-bc96-d3f16187911f",
      "name": "Contact Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "d0aac1fe-d6b2-451d-8907-c48f55c70d58",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "An error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        192
      ],
      "id": "5f43b92b-4a6d-4d27-ac62-e3ba3712427b",
      "name": "Try Again"
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $fromAI('Contact_ID') }}",
        "fields": [
          "emailAddresses",
          "phoneNumbers",
          "names"
        ],
        "updateFields": {
          "familyName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Family_Name', `Family Name`, 'string') }}",
          "givenName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Given_Name', `Given Name`, 'string') }}",
          "emailsUi": {
            "emailsValues": [
              {
                "type": "home",
                "value": "={{ $fromAI('EamilValue', `Add only email addresses`, 'string') }}"
              }
            ]
          },
          "phoneUi": {
            "phoneValues": [
              {
                "type": "mobile",
                "value": "={{ $fromAI('PhoneValue', `Add only phone numbers`, 'string') }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        -400,
        368
      ],
      "id": "63c3475e-1f14-4d2d-859b-1c68fecc05dd",
      "name": "Update Contact",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "CfPfmph8RJKms1Hl",
          "name": "Google Contacts- OAuth pilgrimka1@gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ $fromAI('Return_All', ``, 'boolean') }}",
        "fields": [
          "names",
          "phoneNumbers",
          "emailAddresses"
        ],
        "useQuery": "={{ $fromAI('Use_Query', ``, 'boolean') }}",
        "query": "={{ $fromAI('name') }}",
        "rawData": "={{ $fromAI('RAW_Data', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        -240,
        368
      ],
      "id": "60a75fdb-3f22-4134-ac12-04dfa40b39cc",
      "name": "Get Contacts",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "CfPfmph8RJKms1Hl",
          "name": "Google Contacts- OAuth pilgrimka1@gmail"
        }
      }
    },
    {
      "parameters": {
        "action": "generate"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -736,
        80
      ],
      "id": "96f53a99-8a45-467a-ae93-1dc25fcbc20e",
      "name": "Crypto"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -704,
        368
      ],
      "id": "8ee625e2-5f2a-4d63-a667-81e2e161f434",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1152,
        80
      ],
      "id": "03f54fa4-c750-40f5-a24a-57df7ee163be",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"prompt\": \"Get Debbie Krill's contact information\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        80
      ],
      "id": "8e213134-27f4-4d68-8b81-83616baab793",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "familyName": "={{ $fromAI('Family_Name', `Family Name`, 'string') }}",
        "givenName": "={{ $fromAI('Given_Name', `Given Name`, 'string') }}",
        "additionalFields": {
          "emailsUi": {
            "emailsValues": [
              {
                "type": "home",
                "value": "={{ $fromAI('EmailValue', `Email address`, 'string') }}"
              }
            ]
          },
          "phoneUi": {
            "phoneValues": [
              {
                "type": "mobile",
                "value": "={{ $fromAI('PhoneValue', `Phone number`, 'string') }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        -560,
        368
      ],
      "id": "7fdfaafa-f04d-4a78-bc6d-1ec996c608c8",
      "name": "Add Contact",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "CfPfmph8RJKms1Hl",
          "name": "Google Contacts- OAuth pilgrimka1@gmail"
        }
      }
    },
    {
      "parameters": {
        "url": "https://people.googleapis.com/v1/people/me/connections?personFields=names,emailAddresses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleContactsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -944,
        -224
      ],
      "id": "f27292a1-003c-420d-b849-168583099fa8",
      "name": "HTTP Request",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "CfPfmph8RJKms1Hl",
          "name": "Google Contacts- OAuth pilgrimka1@gmail"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-12T15:49:23.767Z",
      "createdAt": "2025-08-12T15:49:23.767Z",
      "role": "workflow:owner",
      "workflowId": "SSqV7RWYHnXvwOoS",
      "projectId": "ANrIPEPOHOX0fwPW"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-12T16:04:50.000Z",
  "versionId": "9ca32ac1-a451-4027-a77f-164372e8facc"
}