workflows/Vt6aoGGYURfFBW9S.json
{
  "active": false,
  "connections": {
    "Call Anymailfinder API": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check error type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check error type": {
      "main": [
        [
          {
            "node": "Bad input error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Email found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email not found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email not found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Enter Request Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enter Request Parameters": {
      "main": [
        [
          {
            "node": "Call Anymailfinder API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-08T23:48:05.529Z",
  "id": "Vt6aoGGYURfFBW9S",
  "isArchived": false,
  "meta": null,
  "name": "AnyMailFinder",
  "nodes": [
    {
      "parameters": {},
      "id": "95fc2a74-7b77-42a3-91a7-5a3db76cca8c",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "domain",
              "name": "domain",
              "value": "microsoft.com",
              "type": "string"
            },
            {
              "id": "first_name",
              "name": "first_name",
              "value": "John",
              "type": "string"
            },
            {
              "id": "last_name",
              "name": "last_name",
              "value": "Doe",
              "type": "string"
            },
            {
              "id": "company_name",
              "name": "company_name",
              "value": "",
              "type": "string"
            },
            {
              "id": "full_name",
              "name": "full_name",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "728aec2b-3e30-4398-be84-556306f4fa59",
      "name": "Enter Request Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        208
      ],
      "notes": "Request parameters reference: https://anymailfinder.com/email-finder-api/docs/find-person-email#request-parameters"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anymailfinder.com/v5.1/find-email/person",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.domain }}"
            },
            {
              "name": "company_name",
              "value": "={{ $json.company_name }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.first_name }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.last_name }}"
            },
            {
              "name": "full_name",
              "value": "={{ $json.full_name }}"
            }
          ]
        },
        "options": {
          "timeout": 180000
        }
      },
      "id": "005cdd8b-566f-4709-8bc2-3f55a4068f48",
      "name": "Call Anymailfinder API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cYGS5w9sb4nkq5XN",
          "name": "PiAPI Header Auth"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "This node sends the request to Anymailfinder.\nMake sure you've connected your API key in the credentials (HTTP Header Auth)."
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Email found",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "a9363fce-6c2f-4daf-87e9-056eec448671",
      "notes": "This node prepares the valid email and status for use in next steps (e.g., storage, notification)."
    },
    {
      "parameters": {},
      "name": "Email not found",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "8a0e954a-9131-4053-bcab-65e18614fe27",
      "notes": "This handles cases where the email wasn't found or status was not valid (e.g., risky, blacklisted, not_found)."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        224,
        320
      ],
      "id": "b395f004-0fcf-445c-b295-5c7392721f2c",
      "name": "Bad input error"
    },
    {
      "parameters": {
        "jsCode": "if ($input.first().json.error.status === 401) {\n  throw new Error(\"Anymail API key missing or invalid!\");\n}\nif ($input.first().json.error.status === 402) {\n  throw new Error(\"Anymail out of credits!\");\n}\nthrow new Error(\"Anymail unknown error!\");\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        528
      ],
      "id": "4cfc5646-028d-4340-9df4-a1446d2d4621",
      "name": "Handle error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9c84b35b-6021-46d2-bef7-93f6f09383d8",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        432
      ],
      "id": "009b2791-41a9-48ac-8542-69ef543047c1",
      "name": "Check error type"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.email_status }}",
                    "rightValue": "valid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e2d035e7-353e-4c3e-a82a-5ab3ad5de400"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7440ef17-b184-49f9-bc92-0ec289e11ccf",
                    "leftValue": "={{ $json.email_status }}",
                    "rightValue": "risky",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "risky"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7eec38fb-005c-4ea7-9b7b-2e39e0ac4156",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not found"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -224,
        112
      ],
      "id": "6435eadc-cafd-4882-8644-09a89dc33300",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-08T23:48:05.539Z",
      "updatedAt": "2025-09-08T23:48:05.539Z",
      "role": "workflow:owner",
      "workflowId": "Vt6aoGGYURfFBW9S",
      "projectId": "ANrIPEPOHOX0fwPW"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-08T23:46:07.663Z",
      "updatedAt": "2025-09-08T23:46:07.663Z",
      "id": "hDloEwPBTGIPGqVs",
      "name": "AnyMailFinder"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-08T23:48:05.000Z",
  "versionId": "75290a22-0332-4201-a577-d1b6ff1a71df"
}