workflows/zOvv3Iko9Iz3QOy4.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Segment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Empty Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upscale midjourney",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Duration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Segment Data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upscale midjourney": {
      "main": [
        [
          {
            "node": "Update midjourney Upscale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Kling Video": {
      "main": [
        [
          {
            "node": "Update Kling Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PiApi- Request Image": {
      "main": [
        [
          {
            "node": "Update Image midjourney ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empty Prompt": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prompt": {
      "main": [
        [
          {
            "node": "PiApi- Request Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prompt1": {
      "main": [
        [
          {
            "node": "PiApi- Request Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duration": {
      "main": [
        [
          {
            "node": "Create Kling Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NCA Toolkit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA Toolkit": {
      "main": [
        [
          {
            "node": "Update Kling Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Set Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-24T03:32:40.267Z",
  "id": "zOvv3Iko9Iz3QOy4",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "2.0 AI Video + B-Roll- Segment Actions",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "03d90b7f-df95-4a6c-966a-8b0c980e4f05",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -880,
        380
      ],
      "id": "4341960c-7798-4f13-85dd-66fe3547a923",
      "name": "Webhook",
      "webhookId": "03d90b7f-df95-4a6c-966a-8b0c980e4f05"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.action }}",
                    "rightValue": "generateImage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "24038c92-1fda-47cf-9b87-107c9515c7a9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Generate Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c69212a-3591-4393-9178-6ef42e69f7c0",
                    "leftValue": "={{ $('Webhook').item.json.body.action }}",
                    "rightValue": "upscaleImage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Upscale Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "73a76f05-48f9-4954-a438-3aaf27f1ba4a",
                    "leftValue": "={{ $('Webhook').item.json.body.action }}",
                    "rightValue": "animateImage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Animate Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -440,
        380
      ],
      "id": "9294f04e-d01a-4457-a9d6-a526df0eda8d",
      "name": "Switch"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appTnrQSE4H5eYZYT",
          "mode": "list",
          "cachedResultName": "AI Video + B-Roll Magic [v1.0]- KAP ",
          "cachedResultUrl": "https://airtable.com/appTnrQSE4H5eYZYT"
        },
        "table": {
          "__rl": true,
          "value": "tblc86DDGKFh0adHu",
          "mode": "list",
          "cachedResultName": "Segments",
          "cachedResultUrl": "https://airtable.com/appTnrQSE4H5eYZYT/tblc86DDGKFh0adHu"
        },
        "id": "={{ $json.body.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -660,
        380
      ],
      "id": "8997096d-19ad-4dc3-ac8c-6209f961ded9",
      "name": "Get Segment Data",
      "credentials": {
        "airtableTokenApi": {
          "id": "KfRycBsXYTyRWuPv",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appTnrQSE4H5eYZYT",
          "mode": "list",
          "cachedResultName": "AI Video + B-Roll Magic [v1.0]- KAP ",
          "cachedResultUrl": "https://airtable.com/appTnrQSE4H5eYZYT"
        },
        "table": {
          "__rl": true,
          "value": "tblc86DDGKFh0adHu",
          "mode": "list",
          "cachedResultName": "Segments",
          "cachedResultUrl": "https://airtable.com/appTnrQSE4H5eYZYT/tblc86DDGKFh0adHu"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Webhook').item.json.body.recordId }}",
            "AI Image Prompt": "={{ $json.data.input.prompt }}",
            "Image Panel ID": "={{ $json.data.task_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Segment ID",
              "displayName": "Segment ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SRT Text",
              "displayName": "SRT Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start Time",
              "displayName": "Start Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "End Time",
              "displayName": "End Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Duration",
              "displayName": "Duration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "B-Roll",
              "displayName": "B-Roll",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI Image Prompt",
              "displayName": "AI Image Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image Panel",
              "displayName": "Image Panel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Select Image",
              "displayName": "Select Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Upscale Image",
              "displayName": "Upscale Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Video",
              "displayName": "Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SRT Segment ID",
              "displayName": "SRT Segment ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SRT Segment",
              "displayName": "SRT Segment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Timestamps",
              "displayName": "Timestamps",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Videos",
              "displayName": "Videos",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Video Script (from Videos)",
              "displayName": "Video Script (from Videos)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Active Video (from Videos)",
              "displayName": "Active Video (from Videos)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Width",
              "displayName": "Width",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Height",
              "displayName": "Height",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Image Panel ID",
              "displayName": "Image Panel ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Upscale ID",
              "displayName": "Upscale ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Video ID",
              "displayName": "Video ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        820,
        100
      ],
      "id": "a20687a3-be5b-48b9-9e53-78971b7def0b",
      "name": "Update Image midjourney ID",
      "credentials": {
        "airtableTokenApi": {
          "id": "KfRycBsXYTyRWuPv",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.piapi.ai/api/v1/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"midjourney\",\n    \"task_type\": \"upscale\",\n    \"input\": {\n        \"origin_task_id\": \"{{ $('Get Segment Data').item.json['Image Panel ID'] }}\",\n        \"index\": \"{{ $('Get Segment Data').item.json['Select Image'] }}\"\n    },\n    \"config\": {\n        \"service_mode\": \"\",\n        \"webhook_config\": {\n            \"endpoint\": \"{{ $('Webhook').item.json.body.vars.GEN_UPSCALE_IMAGE_WEBHOOK }}\",\n            \"secret\": \"\"\n        }\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        380
      ],
      "id": "7927c837-a112-4b2f-b1d3-bfff6116ec80",
      "name": "Upscale midjourney",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cYGS5w9sb4nkq5XN",
          "name": "PiAPI Header Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appTnrQSE4H5eYZYT",
          "mode": "list",
          "cachedResultName": "AI Video + B-Roll Magic [v1.0]- KAP ",
          "cachedResultUrl": "https://airtable.com/appTnrQSE4H5eYZYT"
        },
        "table": {
          "__rl": true,
          "value": "tblc86DDGKFh0adHu",
          "mode": "list",
          "cachedResultName": "Segments",
          "cachedResultUrl": "https://airtable.com/appTnrQSE4H5eYZYT/tblc86DDGKFh0adHu"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Webhook').item.json.body.recordId }}",
            "Upscale ID": "={{ $json.data.task_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Segment ID",
              "displayName": "Segment ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SRT Text",
              "displayName": "SRT Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start Time",
              "displayName": "Start Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "End Time",
              "displayName": "End Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Duration",
              "displayName": "Duration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "B-Roll",
              "displayName": "B-Roll",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI Image Prompt",
              "displayName": "AI Image Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image Panel",
              "displayName": "Image Panel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Select Image",
              "displayName": "Select Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Upscale Image",
              "displayName": "Upscale Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Video",
              "displayName": "Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SRT Segment ID",
              "displayName": "SRT Segment ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SRT Segment",
              "displayName": "SRT Segment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Timestamps",
              "displayName": "Timestamps",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Videos",
              "displayName": "Videos",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Video Script (from Videos)",
              "displayName": "Video Script (from Videos)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Active Video (from Videos)",
              "displayName": "Active Video (from Videos)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Width",
              "displayName": "Width",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Height",
              "displayName": "Height",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Image Panel ID",
              "displayName": "Image Panel ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Upscale ID",
              "displayName": "Upscale ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video ID",
              "displayName": "Video ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        80,
        380
      ],
      "id": "626de0ce-401f-4a84-92c7-39cc8b2e153b",
      "name": "Update midjourney Upscale",
      "credentials": {
        "airtableTokenApi": {
          "id": "KfRycBsXYTyRWuPv",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appTnrQSE4H5eYZYT",
          "mode": "list",
          "cachedResultName": "AI Video + B-Roll Magic [v1.0]- KAP ",
          "cachedResultUrl": "https://airtable.com/appTnrQSE4H5eYZYT"
        },
        "table": {
          "__rl": true,
          "value": "tblc86DDGKFh0adHu",
          "mode": "list",
          "cachedResultName": "Segments",
          "cachedResultUrl": "https://airtable.com/appTnrQSE4H5eYZYT/tblc86DDGKFh0adHu"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Webhook').item.json.body.recordId }}",
            "Video ID": "={{ $json.data.task_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Segment ID",
              "displayName": "Segment ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SRT Text",
              "displayName": "SRT Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start Time",
              "displayName": "Start Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "End Time",
              "displayName": "End Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Duration",
              "displayName": "Duration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "B-Roll",
              "displayName": "B-Roll",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI Image Prompt",
              "displayName": "AI Image Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image Panel",
              "displayName": "Image Panel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Select Image",
              "displayName": "Select Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Upscale Image",
              "displayName": "Upscale Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Video",
              "displayName": "Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SRT Segment ID",
              "displayName": "SRT Segment ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SRT Segment",
              "displayName": "SRT Segment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Timestamps",
              "displayName": "Timestamps",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Videos",
              "displayName": "Videos",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Video Script (from Videos)",
              "displayName": "Video Script (from Videos)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Active Video (from Videos)",
              "displayName": "Active Video (from Videos)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Width",
              "displayName": "Width",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Height",
              "displayName": "Height",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Image Panel ID",
              "displayName": "Image Panel ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Upscale ID",
              "displayName": "Upscale ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Video ID",
              "displayName": "Video ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        380,
        580
      ],
      "id": "ff20ccf1-c34d-43ff-b08b-2185b33ae5cd",
      "name": "Update Kling Video",
      "credentials": {
        "airtableTokenApi": {
          "id": "KfRycBsXYTyRWuPv",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.goapi.ai/api/v1/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"kling\",\n    \"task_type\": \"video_generation\",\n    \"input\": {\n        \"prompt\": \"animate the video\",\n        \"negative_prompt\": \"\",\n        \"cfg_scale\": 0.5,\n        \"duration\": {{ $('Get Segment Data').item.json.Duration }},\n        \"aspect_ratio\": \"1:1\",\n        \"version\": \"1.6\",\n        \"camera_control\": {\n            \"type\": \"simple\",\n            \"config\": {\n                \"horizontal\": 0,\n                \"vertical\": 2,\n                \"pan\": -10,\n                \"tilt\": 0,\n                \"roll\": 0,\n                \"zoom\": 0\n            }\n        },\n        \"mode\": \"std\",\n        \"image_url\": \"{{ $('Get Segment Data').item.json['Upscale Image'][0].url }}\",\n        \"effect\": \"expansion\"\n    },\n    \"config\": {\n        \"webhook_config\": {\n            \"endpoint\": \"{{ $('Webhook').item.json.body.vars.GEN_VIDEO_SEGMENT_WEBHOOK }}\"\n        },\n        \"service_mode\": \"public\"\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        580
      ],
      "id": "580bad01-60e5-42fe-b184-cbfbf5ebcb6c",
      "name": "Create Kling Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cYGS5w9sb4nkq5XN",
          "name": "PiAPI Header Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.piapi.ai/api/v1/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"midjourney\",\n    \"task_type\": \"imagine\",\n    \"input\": {\n        \"prompt\": \"{{ $json.prompt.replace(/(\\r\\n|\\n|\\r)/g, ' ').replace(/\\s+/g, ' ').trim() }}\",\n        \"aspect_ratio\": \"16:9\",\n        \"process_mode\": \"relax\",\n        \"skip_prompt_check\": false,\n        \"bot_id\": 0\n    },\n    \"config\": {\n        \"service_mode\": \"\",\n        \"webhook_config\": {\n            \"endpoint\": \"{{ $('Webhook').item.json.body.vars.GEN_IMAGE_WEBHOOK }}\",\n            \"secret\": \"\"\n        }\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        100
      ],
      "id": "332d4a3b-9a35-457d-b827-33da80e23a66",
      "name": "PiApi- Request Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cYGS5w9sb4nkq5XN",
          "name": "PiAPI Header Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4acb5c66-898d-4190-b80a-c421665ec7e5",
              "leftValue": "={{ $('Get Segment Data').item.json['AI Image Prompt'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        100
      ],
      "id": "43b65106-28de-4ed5-94ba-a5bb92e49366",
      "name": "Empty Prompt"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"prompt\": \"{{ $json.message.content }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        0
      ],
      "id": "da7d5b83-94f2-4cb1-9715-7c0358b21525",
      "name": "Set Prompt"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"prompt\": \"{{ $('Get Segment Data').item.json['AI Image Prompt'] }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        200
      ],
      "id": "579799e6-3f66-4e8d-8181-274b5b2f5094",
      "name": "Set Prompt1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8662feed-1402-4304-864a-618189d69129",
              "leftValue": "={{ $('Get Segment Data').item.json.Duration }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        680
      ],
      "id": "7e4b9a22-59bf-4121-92a2-40b0ec1951cd",
      "name": "Check Duration"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.vars.NCA_TOOLKIT_URL }}/v1/ffmpeg/compose",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $('Webhook').item.json.body.recordId }}\",\n  \"inputs\": [\n    {\n      \"file_url\": \"{{ $('Get Segment Data').item.json['Upscale Image'][0].url }}\"\n    }\n  ],\n  \"filters\": [\n    {\n      \"filter\": \"[0:v]zoompan=z='zoom+0.001':d=300:s=1920x1080\"\n    }\n  ],\n  \"outputs\": [\n    {\n      \"options\": [\n        {\n          \"option\": \"-r\",\n          \"argument\": \"60\"\n        },\n        {\n          \"option\": \"-t\",\n          \"argument\": \"{{ $('Get Segment Data').item.json.Duration }}\"\n        },\n        {\n          \"option\": \"-c:v\",\n          \"argument\": \"libx264\"\n        },\n        {\n          \"option\": \"-preset\",\n          \"argument\": \"medium\"\n        },\n        {\n          \"option\": \"-crf\",\n          \"argument\": \"23\"\n        }\n      ]\n    }\n  ],\n  \"metadata\": {\n    \"thumbnail\": true,\n    \"filesize\": true,\n    \"duration\": true,\n    \"bitrate\": true,\n    \"encoder\": true\n  },\n  \"webhook_url\": \"{{ $('Webhook').item.json.body.vars['GEN_VIDEO_SEG_WEBHOOK-_NCA_TOOLKIT'] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        780
      ],
      "id": "40b926f0-7611-4fe5-8d9b-9abbab0d37fe",
      "name": "NCA Toolkit",
      "credentials": {
        "httpHeaderAuth": {
          "id": "djaAZUnYK5rEXJH3",
          "name": "NCA Toolkit Header Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appTnrQSE4H5eYZYT",
          "mode": "list",
          "cachedResultName": "AI Video + B-Roll Magic [v1.0]- KAP ",
          "cachedResultUrl": "https://airtable.com/appTnrQSE4H5eYZYT"
        },
        "table": {
          "__rl": true,
          "value": "tblc86DDGKFh0adHu",
          "mode": "list",
          "cachedResultName": "Segments",
          "cachedResultUrl": "https://airtable.com/appTnrQSE4H5eYZYT/tblc86DDGKFh0adHu"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Webhook').item.json.body.recordId }}",
            "Video ID": "={{ $json.job_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Segment ID",
              "displayName": "Segment ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SRT Text",
              "displayName": "SRT Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start Time",
              "displayName": "Start Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "End Time",
              "displayName": "End Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Duration",
              "displayName": "Duration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "B-Roll",
              "displayName": "B-Roll",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI Image Prompt",
              "displayName": "AI Image Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Select Image",
              "displayName": "Select Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Upscale Image",
              "displayName": "Upscale Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Video",
              "displayName": "Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SRT Segment ID",
              "displayName": "SRT Segment ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SRT Segment",
              "displayName": "SRT Segment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Timestamps",
              "displayName": "Timestamps",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Videos",
              "displayName": "Videos",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Video Script (from Videos)",
              "displayName": "Video Script (from Videos)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Active Video (from Videos)",
              "displayName": "Active Video (from Videos)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Width",
              "displayName": "Width",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Height",
              "displayName": "Height",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Image ID",
              "displayName": "Image ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Upscale ID",
              "displayName": "Upscale ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Video ID",
              "displayName": "Video ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        380,
        780
      ],
      "id": "ca66921b-5e1d-4b48-82bc-20a9f604ad53",
      "name": "Update Kling Video1",
      "credentials": {
        "airtableTokenApi": {
          "id": "KfRycBsXYTyRWuPv",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=You're an expert AI image prompt writer tasked with creating b-roll images for segments of the story below.\n\n*** begin story ***\n{{ $('Get Segment Data').item.json['Video Script (from Videos)'][0] }}\n*** end story ***\n\nYou will be givin a shorter segment of the story.\n\nUsing the full context of the story your job is to generate an AI image prompt for the shorter segment you're given.\n\nWhen coming up with the AI image prompt use the entire story text as context for what image to create.\n\nCome up with the best image that will convey the meaning for that segment knowing what comes before and after in the overall script.\n\nOnly use a character if it makes sense, otherwise use a landscape or object to make the point.\n\nUse these guidelines for generating the ai image prompt\n\n1. **Create a photorealistic image: Start each prompt with \"Create a photorealistic image image of...\"\n2. **Character and Action Description**: Clearly describe any characters (if used) and their actions as depicted in the segment.\n3. **Setting/Background**: Include details of the environment or background where the action takes place.\n4. **Mood and Theme**: Reflect the mood and thematic elements of the sentence in the illustration details.\n5. **Visual Elements**: Incorporate specific visual elements that should be highlighted, such as landmarks, specific emotions, or unique environmental features.\n6. **Flagged words**: Avoid using the following words as they are flagged on certain image platfors- \"cutting\"\n\nThe aim is to receive creative, engaging prompts that will inspire detailed and lively realistic photos, encapsulating the essence of the story through the lens of a professional videography.",
              "role": "system"
            },
            {
              "content": "=Create an AI image prompt from the segment below.\n\n{{ $('Get Segment Data').item.json['SRT Text'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        0
      ],
      "id": "6cc2b1dc-3afc-4f73-8dba-c4ba6ace39c6",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "q3gPWSga9sOawaqA",
          "name": "OpenAi API Key- KAP Enterprises"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-06-24T03:32:40.278Z",
      "updatedAt": "2025-06-24T03:32:40.278Z",
      "role": "workflow:owner",
      "workflowId": "zOvv3Iko9Iz3QOy4",
      "projectId": "ANrIPEPOHOX0fwPW"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-01T01:50:44.000Z",
  "versionId": "6b15d665-c6f6-41d1-bdd6-f1afcee61d62"
}