workflows/ZszXT2RivtUUQnDh.json
{
  "active": false,
  "connections": {
    "Apollo URL Generator": {
      "main": [
        [
          {
            "node": "Scrape Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Leads": {
      "main": [
        [
          {
            "node": "Get Run Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Run Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get CSV": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Upload to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Sheets": {
      "main": [
        [
          {
            "node": "Custom Messaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Custom Messaging",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Custom Messaging": {
      "main": [
        [
          {
            "node": "Add Lead to Instantly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Apollo URL Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Custom Messaging",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Apollo URL Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-04T18:34:02.809Z",
  "id": "ZszXT2RivtUUQnDh",
  "isArchived": false,
  "meta": null,
  "name": "LinkedIn Scraper 928",
  "nodes": [
    {
      "parameters": {
        "content": "## ❄️ Cold Outreach Machine 4.0\n## | [Created by Chase AI](https://www.skool.com/chase-ai)\n\n## How it Works\n### - Define your search parameters\n### - Generate Apollo URL for scraping\n### - Apollo data scraped via AmpleLeads\n### - CSV data extracted + uploaded to Sheets\n### - Custom messaging generated via OpenAI\n### - Leads + messaging uploaded to Instantly\n\n## APIs Needed\n### - [AmpleLeads](https://app.ampleleads.io/apollo-scraper)\n### - [Instantly](https://app.instantly.ai/app/settings/integrations)\n\n## Google Sheets Template\n### - [Sheets](https://docs.google.com/spreadsheets/d/1j46TWB12zm-jD3T14giZZjHGx-EzK2tZh4-ss_FHQC8/edit?usp=sharing) (Make your own copy)",
        "height": 640,
        "width": 512,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -544,
        64
      ],
      "id": "0023f958-5ffa-45d2-a50c-b8a4a2a51705",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Job Title: {{ $json['Job Title'] }}\n\nCompany Size: {{ $json['Company Size'] }}\n\nKeywords: {{ $json.Keywords }}\n\nLocation: {{ $json.Location }}\n\n\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert Apollo.io search URL generator. Your task is to convert form data into a precise Apollo search URL.\n\n**CRITICAL INSTRUCTIONS:**\n\n1.  **Handle Multiple Values**: Fields like 'Job Title', 'Keywords', and 'Location' can contain multiple items separated by a comma. When you see a comma-separated list, you **MUST** create a separate URL parameter for **EACH** item in the list.\n    * _Example for Titles:_ `personTitles[]=Founder&personTitles[]=CEO`\n    * _Example for Locations:_ `personLocations[]=United%20States&personLocations[]=Austin`\n\n2.  **Supported Fields & URL Parameters**:\n    * **Location**: Maps to `personLocations[]`. Create one for each location in the list.\n    * **Job Title**: Maps to `personTitles[]`. Create one for each title in the list.\n    * **Company Size**: Maps to `organizationNumEmployeesRanges[]`. This is a single value and should use a hyphen (e.g., `1-10`).\n    * **Keywords**: Maps to `qOrganizationKeywordTags[]`. Create one for each keyword in the list.\n\n3.  **URL Encoding**: Ensure all values are properly URL-encoded (e.g., spaces become `%20`, and commas within a single location value like \"Austin, Texas\" become `%2C`).\n\n---\n\n**EXAMPLE:**\n\n**Input Data:**\nJob Title: Founder, CEO, President\nCompany Size: 1-10\nKeywords: Fintech, SaaS\nLocation: United States, Austin, Texas, Boston\n\n**Your Output (must be this exact format):**\nhttps://app.apollo.io/#/people?personTitles[]=Founder&personTitles[]=CEO&personTitles[]=President&organizationNumEmployeesRanges[]=1-10&qOrganizationKeywordTags[]=Fintech&qOrganizationKeywordTags[]=SaaS&personLocations[]=United%20States&personLocations[]=Austin%2C%20Texas&personLocations[]=Boston"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        272,
        128
      ],
      "id": "6aee9b1a-2855-4119-b75e-c92ad652d981",
      "name": "Apollo URL Generator"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ampleleads.io/v1/apollo/scrape",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "YOUR-API-KEY-HERE"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"apollo_url\": \"{{ $json.text }}\",\n  \"fetch_count\": {{ $('On form submission').item.json['Amount of Leads to Generate'] }}\n}",
        "options": {}
      },
      "id": "9704686f-57e3-4f6d-bb49-825caaeb165a",
      "name": "Scrape Leads",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        560,
        128
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://api.ampleleads.io/v1/apollo/status/{{ $json.data.run_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "YOUR-API-KEY-HERE"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        128
      ],
      "id": "686a64d7-d648-4b3c-97f2-788178baa88b",
      "name": "Get Run Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9c4063c3-48aa-45f4-89c3-57e2f4d1eb28",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        944,
        128
      ],
      "id": "18578f6c-780d-40aa-84cc-50449e1518f2",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1152,
        144
      ],
      "id": "2044fcb8-50cb-43a5-b8c4-54af40a6e593",
      "name": "Wait",
      "webhookId": "a7e5f913-f4fb-4e2e-9cbd-3dad6c177b14",
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        256,
        416
      ],
      "id": "9ba21179-dfba-4850-889a-433b965c69df",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "url": "={{ $json.data.output_csv_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        416
      ],
      "id": "3cfd899a-56c4-4bea-a38a-0724e35cb7f7",
      "name": "Get CSV"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XhDslx1PaQYMDhqK9WJKNAUbj7WdBHy-dG5EqQppYJc",
          "mode": "list",
          "cachedResultName": "Scraper Template 928",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XhDslx1PaQYMDhqK9WJKNAUbj7WdBHy-dG5EqQppYJc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XhDslx1PaQYMDhqK9WJKNAUbj7WdBHy-dG5EqQppYJc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $json.first_name }}",
            "Last Name": "={{ $json.last_name }}",
            "Company Name": "={{ $json.company_name }}",
            "Company Website": "={{ $json.company_website }}",
            "Email": "={{ $json.email }}",
            "Full Name": "={{ $json.full_name }}",
            "LinkedIn": "={{ $json.linkedin }}",
            "Title": "={{ $json.title }}",
            "Industry": "={{ $json.industry }}",
            "Headline": "={{ $json.headline }}",
            "City": "={{ $json.city }}",
            "State": "={{ $json.state }}",
            "Country": "={{ $json.country }}",
            "Employees Count": "={{ $json.employees_count }}",
            "Keywords": "={{ $json.keywords }}",
            "Company SEO Description": "={{ $json.company_seo_description }}",
            "Company Short Description": "={{ $json.company_short_description }}",
            "Company Linkedin": "={{ $json.company_linkedin }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employees Count",
              "displayName": "Employees Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company SEO Description",
              "displayName": "Company SEO Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Short Description",
              "displayName": "Company Short Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Linkedin",
              "displayName": "Company Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        416
      ],
      "id": "85c7defb-1e33-4022-89e4-c689c4eec0d7",
      "name": "Upload to Sheets"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"normalName\": \"Engler Distributing\",\n\t\"icebreaker\": \"Love what you're doing with Effective Sign Works. Bob's philosophy of 'only as good as your last job' really resonates. Wanted to reach out.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1024,
        560
      ],
      "id": "f01d3351-5b57-454d-ba65-ad09d0fd2bf1",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Company name: {{ $json['Company Name'] }}\n\nCompany background: {{ $json['Company Short Description'] }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a company name normalizer and icebreaker generator for cold outreach emails.\n\nTASK 1: NORMALIZE COMPANY NAME\nTake the official company name and output the casual conversational version:\n- Remove LLC, Inc., Corp., Ltd., etc.\n- Remove colons, slashes, taglines, and descriptive phrases\n- Fix ALL CAPS to proper case\n- Keep ampersands (&) and \"Co.\" when they're part of the core name\n- Output how the company name would be spoken in conversation\n\nTASK 2: CREATE ICEBREAKER\nCreate one natural sentence: \"Love what you're doing with [company], especially [unique thing we noticed]. Wanted to reach out.\"\n\nREQUIREMENTS:\n- Pick the most SURPRISING/INTERESTING detail that makes them unique\n- Keep the \"especially\" part to MAXIMUM 10 words\n- PARAPHRASE in simple, natural language\n- USE VARIED SENTENCE STRUCTURES - mix up your phrasing naturally\n- Focus on what made you think \"oh, that's clever/different\"\n- Write like you're genuinely commenting on something that caught your eye\n- ALWAYS end with \"Wanted to reach out.\"\n- Avoid overused words like \"seamless,\" \"truly,\" \"smart,\" \"really,\" \"the way you\"\n- Avoid generic observations that could apply to any company\n\nSTRUCTURE VARIETY EXAMPLES:\n- \"especially [person's] [quote/philosophy]\"\n- \"especially the [specific approach/strategy]\"  \n- \"especially [unique positioning/focus]\"\n- \"especially being [achievement/status]\"\n- \"especially that [surprising detail]\"\n- \"especially [interesting partnership/method]\"\n\nGOOD EXAMPLES (short and specific):\n- \"Love what you're doing with TAG Digital Marketing, especially being one of Google's first platinum agencies. Wanted to reach out.\"\n- \"Love what you're doing with Backroom, especially burning down the old agency model. Wanted to reach out.\"\n- \"Love what you're doing with Glass, especially using blockchain to navigate complex alcohol rules. Wanted to reach out.\"\n- \"Love what you're doing with Cowsultants, especially the Everything for the Cow approach. Wanted to reach out.\"\n\nBAD EXAMPLES:\n- \"especially the way you combine precise craftsmanship with total project management to make signs that actually drive business\" (TOO LONG - 18 words)\n- \"especially the way you focus on building lasting client relationships\" (GENERIC)\n- \"especially creators who truly fit their vibe\" (USES BANNED WORD \"truly\")\n\nTONE: Short, punchy, naturally varied - like you noticed one specific thing that stood out.\n\nGenerate the complete icebreaker sentence."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        768,
        416
      ],
      "id": "2f7e954a-9536-49fc-9fb4-8cacc74da168",
      "name": "Custom Messaging"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        624,
        320
      ],
      "id": "fd655a1e-2c3b-4aa6-b696-95ef4bf88e34",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "content": "",
        "height": 768,
        "width": 1392,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "185616d2-abf5-4beb-bd18-cb4c0439706e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Scrape",
        "height": 288,
        "width": 672,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        48
      ],
      "id": "3f2a29fe-b052-44c5-bd61-4005ba7cb44b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Get Results",
        "height": 288,
        "width": 608,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        48
      ],
      "id": "ef13c883-766c-4b25-ade9-bb213555586d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Extract to Sheets",
        "height": 368,
        "width": 672,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        336
      ],
      "id": "c6d2a330-f0d7-49c3-8d96-7db8d0f01762",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Custom Messaging + Instantly Upload",
        "height": 368,
        "width": 608,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        336
      ],
      "id": "e5a6d5b5-412b-47c8-b9b7-615d89231036",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "formTitle": "Apollo + Apify Lead Generation",
        "formDescription": "Describe the types of leads you are trying to find.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Job Title",
              "placeholder": "Founder, Engineer, Owner"
            },
            {
              "fieldLabel": "Company Size",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1-10"
                  },
                  {
                    "option": "11-50"
                  },
                  {
                    "option": "51-200"
                  },
                  {
                    "option": "201-1000"
                  },
                  {
                    "option": "10001-5000"
                  },
                  {
                    "option": "5001-10000"
                  },
                  {
                    "option": "10001-100000"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Keywords",
              "placeholder": "Keywords relevant to the contact or company"
            },
            {
              "fieldLabel": "Location",
              "placeholder": "United States, California, London"
            },
            {
              "fieldLabel": "Instantly Campaign ID",
              "placeholder": "12345"
            },
            {
              "fieldLabel": "Amount of Leads to Generate",
              "placeholder": "Must be between 100 and 50000",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        96,
        128
      ],
      "id": "ce6cee02-ad7a-440f-b92f-5bb36895a80d",
      "name": "On form submission",
      "webhookId": "ca164d2c-6b5b-4b05-bd68-f74158c4e405"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v2/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR-API-KEY-HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"campaign\": \"{{ $('On form submission').item.json['Instantly Campaign ID'] }}\",\n  \"email\": \"{{ $('Extract from File').item.json.email ? $('Extract from File').item.json.email : 'test@example.com' }}\",\n  \"last_name\": \"{{ $('Extract from File').item.json.last_name }}\",\n  \"first_name\": \"{{ $('Extract from File').item.json.first_name }}\",\n  \"company_name\": \"{{ $('Extract from File').item.json.company_name }}\",\n  \"custom_variables\": {\n    \"icebreaker\": \"{{ $json.output.icebreaker }}\",\n    \"customCompanyName\": \"{{ $json.output.normalName }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        416
      ],
      "id": "6aa62e45-584a-4c21-bbe1-048614634736",
      "name": "Add Lead to Instantly"
    },
    {
      "parameters": {
        "content": "@[youtube](A84Jb-qf5AY)",
        "height": 560,
        "width": 976
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1504,
        128
      ],
      "id": "eb4b2af3-96e2-48a1-b6d0-cf5df92ca9c3",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-04T18:34:02.824Z",
      "createdAt": "2025-10-04T18:34:02.824Z",
      "role": "workflow:owner",
      "workflowId": "ZszXT2RivtUUQnDh",
      "projectId": "ANrIPEPOHOX0fwPW"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-04T18:34:02.000Z",
  "versionId": "10d04d89-6c95-4159-bb81-1883a686d667"
}